<div ng-controller="ViewsettingsubeditorCtrl" class="col-md-12">
    <label>View Setting in this Context</label>
    <div style="padding: 10px;">
        <label>Connection showing:</label>
        <input type="checkbox" ng-model="contribution.data.viewSetting.buildson" ng-change="settingChanged()">buildson
        <input type="checkbox" ng-model="contribution.data.viewSetting.references" ng-change="settingChanged()">reference
        <br>
        <label>Label:</label>
        <input type="checkbox" ng-model="contribution.data.viewSetting.showGroup" ng-change="settingChanged()">group
        <input type="checkbox" ng-model="contribution.data.viewSetting.showAuthor" ng-change="settingChanged()">author
        <input type="checkbox" ng-model="contribution.data.viewSetting.showTime" ng-change="settingChanged()">time
    </div>
</div>
