<div ng-controller="AttachmentUploaderCtrl">
    <div class="col-md-12">
        <input type="file" ng-file-select="onFileSelect($files)">
        <div class="drop-box" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="optional-css-class-name-or-function" ng-show="dropSupported">or drop files here</div>
        <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
        <progressbar ng-if="progress>=0" animate="true" value="progress" type="success"><b>{{progress}}%</b>
        </progressbar>
    </div>
</div>