<div class="col-md-12">
    <label>Administration</label>
    <div>
        <label>title:</label>
        <input type="text" class="form-control" placeholder="" ng-model="community.title">
        <br>
        <label>key:</label>
        <input type="text" class="form-control" placeholder="" ng-model="community.registrationKey">
        <br>
        <label>manager key:</label>
        <input type="text" class="form-control" placeholder="" ng-model="community.managerRegistrationKey">
        <div style="text-align: right;">
            <button type="submit" class="btn btn-primary" ng-click="save()">Save</button>
        </div>
    </div>
    <div>
        <label>Block Writers Login</label>
        <br> (don't use this except administrator.) <br>
        <button type="submit" class="btn btn-primary" ng-click="blockLoginWriters()">BlockLoginWriters</button>
        <button type="submit" class="btn btn-primary" ng-click="unblockLoginWriters()">UnblockLoginWriters</button>
    </div>
    <div>
        <label>UpdateCash</label>
        <br> (don't use this except administrator.) <br>
        <button type="submit" class="btn btn-primary" ng-click="updateAllCash()">UpdateAllCash</button>
    </div>
</div>
