<br/>
<br/>
<label>Views:</label>
<div style="width: 400px" ng-include="'components/kfutils/viewselector/viewselector.html'"></div>
<button ng-click=" search()" ng-model="queryString">Selected Ideas </button>
<br/>
<br/>
<hr>
<div collapse="status.detailCollapsed">
    <br/>
    <label style="font-size:  15pt; " ng-if="viewTitlescopy !==''"><b>PromisingIdeas in {{viewTitlescopy}} (View/s)</b></label>
    <label style="font-size:  15pt; " ng-if=" !status.communityCollapsed"><b>PromisingIdeas in {{currentCommunity.community.title}} (CurrentCommunity)</b></label>
    <br/>
    <label>Colours::</label>
    <select class="KFSupport" style="width: 150px;height:25px;border: 2px  light blue;" ng-model="selectedColor" ng-options="s for s in colors " />
    <div style="padding: 5px;">
        <div class="KFSearchResult">
            <div ng-if="status.status === 'searching'">
                searching...
            </div>
            <div ng-if="status.status === 'noresult'">
                There was no contributions to match.
            </div>
            <div ng-if="status.status === 'searched'">
                <!--  <button type="button" ng-csv="tableData" csv-header="getHeader()" filename="test.csv">ExportToCSV</button> -->
                <div style="float: right;">
                    <pagination total-items="pager.total" ng-model="pager.page" max-size="maxSize" items-per-page="pager.pagesize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
                </div>
                <div style="width: 100%; float: left; text-align: right;">
                    CurrentPage: {{pager.page}} ({{pager.getStart()}} - {{pager.getEnd()}}) / Total: {{pager.total}} contributions were found.
                </div>
                <div ng-if="status.loading === true">
                </div>
                <div ng-if="status.loading !== true">
                    <table border='1' style="width: 100%;" id="table1">
                        <tr>
                            <th style="width: 75%;"> PromisingIdeas</th>
                            <th>In Contribution</th>
                        </tr>
                        <tr class="KFSearchResult" ng-repeat="contribution  in   promisngNotes" ng-show="hascolorinPromisingnote(contribution)">
                            <td>
                                <div ng-repeat=" data in tableData" ng-if=" contribution===data .inContribution">
                                    <div ng-show="selectedColor===colors[0]">
                                        <tt ng-style="{ 'background-color': data.color }" ng-bind-html="data .promisingidea"></tt>
                                        <hr>
                                    </div>
                                    <div ng-show="selectedColor=== data.color">
                                        <tt ng-style="{ 'background-color': data.color }" ng-bind-html="data .promisingidea"></tt>
                                        <hr>
                                    </div>
                                </div>
                            </td>
                            <td>

                                <div kfelement draggable="true">
                                    <span><img ng-src="{{getIcon(contribution)}}" draggable="false"></span>
                                    <a class="KFSearchLink" href="contribution/{{contribution.note._id}}" target="_blank" draggable="false">{{contribution.title}}</a>
                                </div>

                            </td>
                        </tr>

                    </table>
                    <div style="height: 20px;"></div>
                </div>
            </div>
        </div>
    </div>
    <hr>