<div ng-controller="ContexteditorCtrl" class="col-md-12">
    <!-- view setting -->
    <input type="checkbox" ng-model="viewSetting.enabled" ng-change="viewsettingEnabledChanged()"> Enable Specific View Setting
    <div ng-show="viewSetting.enabled" ng-include="'components/kfutils/viewsettingsubeditor/viewsettingsubeditor.html'"></div>
    <!-- scaffold setting -->
    <div style="height: 10px;"></div>
    <div ng-include="'components/kfutils/scaffoldsettingsubeditor/scaffoldsettingsubeditor.html'"></div>
    <div style="height: 10px;"></div>
    <label>Colour Palette Assignment of Promisingness Idea</label>
    <div>
        <table style="width: 100%; border-collapse: collapse;" ng-repeat="colordata in promisingColorData">
            <tr>
                <th style="width: 5%;" ng-if="colordata.color===''"> no color</th>
                <th style="width: 5%;" ng-if="colordata.color!==''"> {{colordata.color}}</th>
                <th style="width: 95%;"> <a href="#" editable-text="colordata.data" onaftersave="savePromisingIdeacolorobj(colordata.data,colordata.color, colordata.id, colordata.obj)">{{ colordata.data || 'empty' }}</a></th>
            </tr>
        </table>
        <br>
    </div>
    <!-- plugin setting -->
    <div style="height: 10px;"></div>
    <label>Plugin Setting in this Context</label>
    <div>
        <input type="checkbox" ng-model="contribution.data.plugins.relatedword" ng-change=""> RelatedWord
        <br>
        <input type="checkbox" ng-model="contribution.data.plugins.lexicalanalysis" ng-change=""> Lexical Analysis
        <br>
        <input type="checkbox" ng-model="contribution.data.plugins.scaffoldgrowth" ng-change=""> Scaffold Growth
        <br>
        <input type="checkbox" ng-model="contribution.data.plugins.promisingnessidea" ng-change=""> Promisingness Idea
        <br>
        <input type="checkbox" ng-model="contribution.data.plugins.ideagrowth" ng-change=""> Idea Growth
        <br>
    </div>
</div>
