/* 
    Document   : kf
    Created on : Jul 22, 2010, 3:24:23 PM
    Author     : Raphael   
*/
.searchfilterdialog-pushbutton {
	margin: 3px 1px;
	float: right;
	cursor: pointer;
	cursor: default;
	padding: 0;
}

.scaffold {
	min-width: 180px;
	margin-top: 5px;
}

.buttonmargin {
	margin-right: 5px;
}

.canvas {
	cursor: pointer;
	/* margin-top: 2px;*/
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.canvasscroll {
	overflow: auto;
	/*    font-size : 90%;*/
	margin-left: auto;
	margin-right: auto;
	padding: 0;
}

.connector {
	border: 3px solid #DCF0BE;
	position: absolute;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.line {
	background-color: #FFFFFF;
	border-top: 1px solid #CFCFCF;
	clear: both;
	height: 1px;
	line-height: 1px;
	margin: 5px 0 0;
	padding: 0;
	width: 100%;
}

.hide-show-buildon {
	border-bottom: 1px solid #c9d7f1;
	padding-bottom: 0;
}

.popup {
	border-color: gray;
	border-width: 1px;
	border-style: solid;
}

.popup-item {
	font-weight: normal;
	font-size: 80%;
	}
	
.popup-Menu {
	height:100px;
	overflow:auto;
	}	

.tools {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tools>li {
	float: left;
	padding-top: 3px;
}

.spanbutton {
	line-height: 0.6em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-bottom-left-radius: 10px 10px;
	border: 1px solid;
	/*float: left;*/
	margin-left: 3px;
	margin-top: 5px;
	padding: 1px 4px 1px;
	border-color: #EFB137;
	background-color: whitesmoke;
	cursor: pointer;
}

.spanbutton:hover {
	background-color: #F7BA43;
	color: white;
}

.labelopacity {
	background-color: #F7BA43;
	color: white;
}

.dragarea {
	position: absolute;
	height: 100%;
	left: 3px;
	width: 7px;
	/*background:url('/kforum/KForum/img/grabber.png') no-repeat left center;
	cursor: move;*/
}

.expanddragarea {
	position: absolute;
	height: 100%;
	left: 2px;
	width: 100%;
	/*background:url('/kforum/KForum/img/grabber.png') no-repeat left center;
	cursor: move;*/
}

/* Post css */
.postFooter {
	padding-top: 3px;
	margin-right: 0;
	min-height: 42px;
}

.postFooter1 {
	padding-top: 1px;
	margin-right: 0;
	min-height: 25px;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.postProblem {
	max-height: 36px;
	overflow: hidden;
}

.postWrapper {
	margin-left: 10px;
}

.postWrapperSubView {
	margin-left: 10px;
	/*         margin-left:0;*/
	margin-right: 0;
	margin-top: 7px;
	bottom: 0;
	background-color: #CCC;
	border-width: 1px;
	border-style: solid;
	background-color: #CCC;
	border-color: #000000;
	width: 810px;
	height: 610px;
	cursor: move;
}

.postWrapperRE {
	margin-left: 0;
	border: 1px solid;
	cursor: move;
}

.postWrapperRE:hover {
	cursor: move;
}

.postTitleContent {
	/*	background: transparent;		*/
	margin-top: 0;
	font-weight: 700;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	margin-left: 2px;
	font-size: 1.25em;
	overflow: hidden;
	/*	color:blue;*/
	color: #039;
	text-decoration: none;
	cursor: pointer;
	/*diplay:block;*/
	/*	cursor:   default;*/
}

.postTitleContent:hover {
	text-decoration: underline;
}


.postTitleContentLink {
	/*	background: transparent;		*/
	font-weight: 700;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	margin-left: 20px;
	font-size: 1.25em;
	overflow: hidden;
	/*	color:blue;*/
	color: #039;
	text-decoration: none;
	cursor: pointer;
	/*	cursor:   default;*/
	margin-top: 0px;
}

.postTitleContentLink:hover {
	text-decoration: underline;
}

.postTitleContentRed {
	font-weight: 700;
	margin-top: 0;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	margin-left:12px;
	font-size: 1.25em;
	overflow: hidden;
	color: #000;
	text-decoration: none;
	cursor: pointer;
	/*	cursor:   default;*/
}

.postTitleContentRed:hover {
	text-decoration: underline;
}

.postProblemContent {
	/*	background: transparent; */
	border: none;
	font-weight: bold;
	font-size: 88%;
	overflow: hidden;
	color: #5F5F5F;
}

.postTitlePanel {
	position: relative;
	margin-right: 3px;
	line-height: 1em;
	padding-top: 4px;
	overflow: hidden;
}

.postContainer {
	margin-left: 2px;
	margin-right: 0;
	margin-top: 0;
	bottom: 0;
	padding: 0;
	/*	max-width: 550px;*/
	cursor: default;
	line-height: 1em;
	position: relative;
}

.postContainer:hover {
	cursor: move;
}

.postContentPanel {
	position: relative;
	overflow: auto;
	max-height: 200px;
	min-height: 35px;
}

.postMenu {
	position: absolute;
	left: 20px;
	top: -12px;
	cursor: pointer;
	cursor: default;
}



.postAttachmentList {
	margin: 0;
	list-style: none;
	padding-left: 0;
	padding-bottom: 6px;
}

.postContent {
	position: relative;
	margin: 0 3px 2px;
	overflow: hidden;
	line-height: 1.75em !important;
}

.postContentAndPanel {
	position: relative;
	overflow: auto;
	display: block;
	margin: 0 3px 2px;
	line-height: 1.75em !important;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #D6D6D6;
	cursor: default;
}

.postContentAndPanelDrawing {
	position: relative;
	/*	overflow:auto;*/ /*	height:300px;*/
	display: block;
	/*min-height:20px;*/
	margin: 0 3px 2px;
	line-height: 1.75em !important;
	/*        background-color: #FFFFFF;
        border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #D6D6D6;*/
	cursor: default;
}


.postEditPanel {
	margin: 5px 5px 5px 0;
}

.postStarbust {
	position: absolute;
	right: -12px;
	top: -12px;
}

.postHandle {
	position: absolute;
	left: 0;
	top: 0;
	cursor: move;
}

.postHandle:hover {
	cursor: move;
}

.postHandleRE {
	position: absolute;
	left: 5px;
	top: 40px;
	cursor: default;
}

.status-loading {
	background-color: #e6cb45;
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	white-space: nowrap;
	z-index: 1000;
}

.process-working-squares {
	padding: 3px 3px 3px 48px;
	background: url(img/process-working-squares.gif) no-repeat scroll 1px
		50%
}

.drawing {
	width: 800px;
	height: 500px;
}

.gwt-DecoratedPopupPanel-viewEdit {
	margin: 0;
	padding: 10px;
	border: 2px solid #7CAFD9;
}

.gwt-DecoratedPopupPanel-viewEdit .popupMiddle {
	background-color: white;
}

.gwt-DecoratedPopupPanel-help {
	margin: 0;
	padding: 0;
	border: 2px solid #7CAFD9;
	-webkit-border-radius: 12px;
	border-radius: 8px;
	-moz-background-clip: padding-box; /* padding; */
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.gwt-DecoratedPopupPanel-help .popupMiddle {
	background-color: white;
}

.gwt-DecoratedPopupPanel-help table h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 14px;
	color: #005CA7;
	margin: 0;
	padding: 6px 0 12px 0;
	font-style: italic;
}

/*.gwt-DecoratedPopupPanel tbody {
    font-size:10px;
    line-height:13px;
    text-align:left;
    color:black;
}*/
.startMark {
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 10px 0 0 10px;
	border-style: solid;
	border-width: 1px;
	padding: 1px 0 1px 2px;
}

.supportContent {
	display: block;
}

.kfSupportContent {
	
}

.kfSupportStartTag{
	
}

.kfEndSupport{
	
}



.startLabelTag {
	border-color: #EFB137;
	border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 1px;
}

.kfSupportStartLabel {
	border-color: #EFB137;
	border-style: solid;
	border-width: 1px;
	padding: 1px 2px 1px 1px;
}

.kfSupportEndMark {
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 0 10px 10px 0;
	border-style: solid;
	border-width: 1px;
	padding: 1px 0 1px 2px;
}

.kfSupportStartMark {
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 10px 0 0 10px;
	border-style: solid;
	border-width: 1px;
	padding: 1px 0 1px 2px;
}

.endMark {
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 0 10px 10px 0;
	border-style: solid;
	border-width: 1px;
	padding: 1px 0 1px 2px;
}

.viewAvatorScale {
	opacity: 0.4;
	/*filter:alpha(opacity=40);*/
	border: 3px solid red; /*#19DD89;*/
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
}

.viewAvatorScale1 {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

.searchBackColor {
	background-color: #e6cb45;
}

.gwt-MenuBar {
	cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
	cursor: default;
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 12px;
}

.gwt-MenuBar .gwt-MenuItem-selected {
	background: #E3E8F3;
}

.gwt-MenuBar-horizontal {
	background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	border: 1px solid #e0e0e0;
}

.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 5px 10px;
	vertical-align: bottom;
	color: #000;
	font-weight: bold;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator {
	width: 1px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	border-left: 1px solid #ccc;
	background: white;
}

.gwt-MenuBar-horizontal .gwt-MenuItemSeparator .menuSeparatorInner {
	width: 1px;
	height: 1px;
	background: white;
}

.gwt-MenuBar-vertical {
	margin-top: 0px;
	margin-left: 0px;
	background: white;
}

.gwt-MenuBar-vertical table {
	border-collapse: collapse;
}

.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 40px 2px 1px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator {
	padding: 2px 0px;
}

.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner {
	height: 1px;
	padding: 0px;
	border: 0px;
	border-top: 1px solid #ccc;
	overflow: hidden;
}

.gwt-MenuBar-vertical .subMenuIcon {
	padding-right: 4px;
}

.gwt-MenuBar-vertical .subMenuIcon-selected {
	background: #E3E8F3;
}

.gwt-MenuBarPopup {
	margin: 0px 0px 0px 3px;
	z-index: 500;
}

.gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.gwt-MenuBarPopup .menuPopupTopLeft {
	background: url(images/corner.png) no-repeat 0px -36px;
	-background: url(images/corner_ie6.png) no-repeat 0px -36px;
}

.gwt-MenuBarPopup .menuPopupTopRight {
	background: url(images/corner.png) no-repeat -5px -36px;
	-background: url(images/corner_ie6.png) no-repeat -5px -36px;
}

.gwt-MenuBarPopup .menuPopupBottomLeft {
	background: url(images/corner.png) no-repeat 0px -41px;
	-background: url(images/corner_ie6.png) no-repeat 0px -41px;
}

.gwt-MenuBarPopup .menuPopupBottomRight {
	background: url(images/corner.png) no-repeat -5px -41px;
	-background: url(images/corner_ie6.png) no-repeat -5px -41px;
}

html>body .gwt-MenuBarPopup {
	
}

* html .gwt-MenuBarPopup .menuPopupTopLeftInner {
	width: 5px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupTopRightInner {
	width: 8px;
	height: 5px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	overflow: hidden;
}

* html .gwt-MenuBarPopup .menuPopupBottomRightInner {
	width: 8px;
	height: 8px;
	overflow: hidden;
}

/**
 * Applied to radio buttons and the text next to them.
 */
.gwt-RadioButton {
	
}

.gwt-RadioButton-disabled {
	color: #888;
}

.submit-button {
	display: block;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	margin-right: 12px;
	margin-top: 10px;
	text-align: center;
	width: auto;
	padding-left: 26px;
	padding-top: 4px;
	padding-bottom: 5px;
	cursor: pointer;
}

.submit-button:hover {
	cursor: pointer;
}

.contribute-button {
	background-image: url(/kforum/KForum/img/contribute-normal.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.contribute-button:hover {
	background-image: url(/kforum/KForum/img/contribute-sel.png);
	color: #060;
}

.build-on-button {
	background-image: url(/kforum/KForum/img/build-on-normal.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.build-on-button:hover {
	background-image: url(/kforum/KForum/img/build-on-sel.png);
	color: #609;
}

.delete-button {
	background-image: url(/kforum/KForum/img/delete-normal.png);
	background-position: left top;
	background-repeat: no-repeat;
}

.delete-button:hover {
	background-image: url(/kforum/KForum/img/delete-sel.png);
	color: #066;
}

.cancel-button {
	background-image: url(/kforum/KForum/img/cancel-normal.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.cancel-button:hover {
	background-image: url(/kforum/KForum/img/cancel-sel.png);
	color: #C00;
}

.edit-button {
	background-image: url(/kforum/KForum/img/edit-normal.png);
	background-position: left center;
	background-repeat: no-repeat;
}

.edit-button:hover {
	background-image: url(/kforum/KForum/img/edit-sel.png);
	color: #06C;
}

.read-idea-toolbar-button {
	display: block;
	height: 15px;
	margin-right: 12px;
	padding-left: 20px;
	float: left;
	margin-top: 3px;
	padding-top: 3px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	cursor: pointer;
}

.read-idea-toolbar-button:hover {
	text-decoration: underline;
	font-weight: bold;
	cursor: pointer;
}

.promising-idea-view {
	background-image: url(/kforum/KForum/img/promising-idea-normal.png);
	background-repeat: no-repeat;
}

.promising-idea-view:hover {
	background-image: url(/kforum/KForum/img/promising-idea-sel.png);
}

.idea-build-on {
	background-image: url(/kforum/KForum/img/build-on-normal.png);
	background-repeat: no-repeat;
}

.idea-build-on:hover {
	background-image: url(/kforum/KForum/img/build-on-sel.png);
}

.tab {
	list-style-type: none;
	display: inline;
	float: left;
	height: 30px;
	width: 42px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-image: url('/kforum/KForum/img/tab-view-normal.png');
	/*background:url('/kforum/KForum/img/tab-vista-prueba.png') no-repeat; */
	margin-top: 1px;
	margin-right: 2px;
	margin-left: 2px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A2A4A4;
	border-bottom-color: #A2A4A4;
	border-left-color: #A2A4A4;
	border-bottom-width: 4px;
	position: relative;
}

.tab:hover {
	background-color: #CCC;
	border-color: #CCC;
}

.selected-tab {
	list-style-type: none;
	display: inline;
	float: left;
	height: 30px;
	width: 42px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-image: url('/kforum/KForum/img/tab-vista-sel.png');
	/*background:url('/kforum/KForum/img/tab-vista-sel.png') no-repeat;*/
	margin-right: 2px;
	margin-left: 2px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EEE;
	border-bottom-color: #EEE;
	border-left-color: #EEE;
	border-bottom-width: 4px;
	position: relative;
	padding-top: 1px;
}

.selected-private-tab {
	list-style-type: none;
	display: inline;
	float: left;
	height: 30px;
	width: 42px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-image: url('/kforum/KForum/img/tab-vista-priv.png');
	/*background:url('/kforum/KForum/img/tab-vista-priv.png') no-repeat;*/
	margin-right: 2px;
	margin-left: 2px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EEE;
	border-bottom-color: #EEE;
	border-left-color: #EEE;
	border-bottom-width: 4px;
	position: relative;
	padding-top: 1px;
}

.private-tab {
	list-style-type: none;
	display: inline;
	float: left;
	height: 30px;
	width: 42px;
	background-color: #333;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-image: url('/kforum/KForum/img/tab-vista-priv.png');
	/*background:url('/kforum/KForum/img/tab-vista-priv.png') no-repeat;*/
	margin-top: 1px;
	margin-right: 2px;
	margin-left: 2px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right-width: 4px;
	border-left-width: 4px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #A2A4A4;
	border-bottom-color: #A2A4A4;
	border-left-color: #A2A4A4;
	border-bottom-width: 4px;
	position: relative;
}

.private-tab:hover {
	background-color: #CCC;
	border-color: #CCC;
}

.filterPopup {
	max-height: 200px;
	max-width: 500px;
	overflow: auto;
	background-color: #F7EDBF;
}

.mark-read-unread {
	float: right;
	font-weight: bold;
	color: #999;
	margin-right: 10px;
	margin-top: 7px;
	text-decoration: none;
	cursor: pointer;
}

.mark-read-unread:hover {
	margin-top: 7px;
	color: #C00;
	margin-right: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.markreadunreadSelect {
	float: right;
	font-weight: bold;
	color: #C00;
	margin-right: 10px;
	margin-top: 7px;
	text-decoration: underline;
	cursor: pointer;
}

.admin-tools {
	display: inline-block;
	list-style-type: none;
	float: right;
	color: #FFF;
	font-weight: bold;
	line-height: 1em;
	font-size: 11px;
	overflow: hidden;
	margin-top: 20px;
	max-width: 200px;
	cursor: pointer;
	padding-right: 12px;
	text-decoration: none;
}

.admin-tools:hover {
	line-height: 1em;
	color: #FFF;
	font-size: 12px;
	text-decoration: underline;
}

.admin-toolsSelected {
	display: inline-block;
	list-style-type: none;
	float: right;
	color: #C00;
	font-weight: bold;
	line-height: 1em;
	font-size: 12px;
	overflow: hidden;
	margin-top: 20px;
	max-width: 200px;
	cursor: pointer;
	padding-right: 12px;
	text-decoration: underline;
}

.bnTable {
	text-align: left;
}

.bnTable td {
	text-align: left;
	width: 50%
}

.bnTable td input {
	text-align: left;
}

.bnTable td select {
	text-align: left;
}

.bnTable hr {
	border: 1px solid "black"
}

.admin-tools1 {
	list-style-type: none;
	color: blue;
	font-weight: bold;
	line-height: 1em;
	font-size: 11px;
	overflow: hidden;
	max-width: 200px;
	padding-right: 12px;
	text-decoration: none;
}

.admin-tools1:hover {
	cursor: pointer;
	text-decoration: underline;
}

.admin-toolsSelected1 {
	list-style-type: none;
		font-weight: bold;
	line-height: 1em;
	font-size: 11px;
	overflow: hidden;
	max-width: 200px;
	padding-right: 12px;
	text-decoration: none;
}

.noteSelected {
	background-color: #82CAFF;
}

.keyword-button {
	height: 15px;
	margin-right: 12px;
	padding-left: 0px;
	float: left;
	margin-top: 1px;
	padding-top: 1px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
}

.keyword-button:hover {
	text-decoration: underline;
	font-weight: bold;
}

.keyword-buttonClick {
	/*     cursor: url(/kforum/KForum/img/edit-normal.png);*/
	cursor: move;
}

.keyword-buttonDbClick {
	cursor: default;
}

.selectedPost {
	cursor: copy;
	background-color: lightblue;
}

.reselectedPost {
	cursor: default;
}

.unSelectIcon {
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #BDBDAE;
	border-bottom-color: #F1F1F1;
}

.selectIcon {
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	border: 2px;
	border-style: solid;
	border-color: lightblue;
}

.startMarkForReference{
	background-color:#EFB137;  
	border-color: #EFB137;   
	color: #EFB137;
	border-radius: 10px 0 0 10px;
	border-style: solid;   
	border-width: 1px;
	padding:1px 0 1px 2px;
}
.supportContentForReference{
	display: block;
}

.startLabelTagForReference{
	border-color: #EFB137;			
	border-style: solid;
	border-width: 1px;			
	padding: 1px 2px 1px 1px;
	color:blue;
}


.endMarkForReference{
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 0 10px 10px 0;
	border-style: solid;   
	border-width: 1px;
	padding:1px 0 1px 2px;
}

.referenceNoteTitle{
	cursor: pointer;
	color:blue;
	font-weight: bold;
	font-size: x-small;
}

.referenceNoteTitle:hover {
	text-decoration: underline;
	
}
.referenceText{
    font-weight: bold;
	font-style:italic;
}


.kfPostHandle {
	position: absolute; 
	left:0;
	top: 0;
	cursor: move;
}

.kfPostHandle:hover {
	cursor: move;
}

.kfPostStar {
	position: absolute; 
	left: 20px;
	top: -12px;
	cursor: pointer;
	cursor: default;
}

.kfPostSupportedBy {
	position: absolute; 
	left: 40px;
	top: -14px;
	cursor: pointer;
	cursor: default;
}

.kfPostTitleContent {
	margin-top: 0;
	margin-left:2px;
    font-weight: 700;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	font-size: 1.25em;
	overflow: hidden;
	color: #039;
	text-decoration: none;
	cursor: pointer;
	}

.kfPostTitleContent:hover {
	text-decoration: underline;
}

.kfPostTitleContentRead {
	margin-top: 0;
	margin-left:2px;
    font-weight: 700;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	font-size: 1.25em;
	overflow: hidden;
	color: yellow;
	text-decoration: none;
	cursor: pointer;
	}


.kfPostTitleContentRead:hover {
	text-decoration: underline;
}

.kfPostContainer {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	cursor: default;
	line-height: 1em;
	position: relative;
	/* position: absolute; */
}

.kfPostWrapper {
	display:block;
	margin-left: 10px;
}

.kfPostContainer:hover {
	cursor: move;
}

.kfPostContentAndPanelDrawing {
	position: relative;
	/*	overflow:auto;*/ /*	height:300px;*/
	display: block;
	/*min-height:20px;*/
	margin: 0 3px 2px;
	line-height: 1.75em !important;
	/*        background-color: #FFFFFF;
        border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #D6D6D6;*/
	cursor: default;
}


.kfPostTitleContentLink {
	margin-top: 0;
	margin-left:20px;
    font-weight: 700;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif, Verdana;
	font-size: 1.25em;
	overflow: hidden;
	color: #039;
	text-decoration: none;
	cursor: pointer;
	}

.kfPostTitleContentLink:hover {
	text-decoration: underline;
}



