/* 
    Document   : kf
    Created on : Jul 22, 2010, 3:24:23 PM
    Author     : Raphael   
*/

body {
    font-size: 12px;
}
kf-content-reference {
    font-style: italic;
}
kf-content-reference:before {
    content: '"';
}
kf-content-reference:after {
    content: '"';
}
kf-post-reference {} kf-post-reference:before {
    content: '(note reference to=';
}
kf-post-reference:after {
    content: ')';
}
/*
.scaffold:before{
	content: attr(title);
	border-color: #EFB137;
	border-radius: 10px 0 0 10px;
	border-style: solid;
	border-width: 1px;
	border-left-width: 13px;
	padding: 0px 7px;
	margin-left: 5px;
	margin-right: 5px;
}

.scaffold:after{
	content: " ";
	background-color: #EFB137;
	border-color: #EFB137;
	color: #EFB137;
	border-radius: 0 10px 10px 0;
	border-style: solid;
	border-width: 1px;
	padding: 0px 10px 0px 0px;
	margin-left: 5px;
}

*/
