<div ng-controller="ViewAuthorDateSelectorCtrl ">
    <div style=" float:left;height: 200px; width:50%;;">
        <div style="padding: 5px ;">
            <label>Views:</label>
            <div ng-include="'components/kfutils/viewselector/viewselector.html'"></div>
        </div>
        <div style="padding: 5px;">
            <label>Authors:</label>
            <div ng-include="'components/kfutils/authorselector/authorselector.html'"></div>
        </div>
        <div style=" height: 150px; float: left; width:40%">
            <label style="padding: 5px;  float: left;">Dates:</label>
            <div class="col-md-6">
                <div style="float: left" ng-include="'components/kfutils/dateselector/dateselector.html'"></div>
            </div>
        </div>
        <button ng-class="{true: 'btn-primary', false: 'btn-default'}[selectedItemCollapsed]" style=" float: left; " ng-click="selectedItemCollapsed=!selectedItemCollapsed">Show Selected Items</button>
        <button ng-show="selectedItems.length!=0 &&!selectedItemCollapsed" style=" float: left; " ng-click="clearSelectedItems()">Clear Selected Items</button>
    </div>
    <div collapse="selectedItemCollapsed" style=" float:right; width: 50%;height: 300px;">
        <div class="panel" style=" float: right; height: 150px; ">
            <div>
                <span style="color:white;" class="selected-item">Selected  Items:</span>
                <div ng-repeat="item in selectedItems" class="selected-item">
                    {{item.viewTitle}} {{item.author}} {{item.toDate}} {{item.fromDate}}
                </div>
            </div>
        </div>
    </div>
    <hr style="clear: both;height: 2px;background-color: #33BBFF; " />
</div>
