<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="col-md-12">
    <div>
        <br>
        <label>{{ 'view_add' | translate }}</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="{{ 'title_placeholder' | translate }}" ng-model="input.title">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addView()">{{ 'add' | translate }}</button>
            </span>
        </p>
    </div>
    <br>
    <div>
        <label>{{ 'view_management' | translate }}</label>
        <ul>
            <li ng-repeat="view in views">
                <a href='view/{{view._id}}'>{{view.title}}</a>&nbsp;&nbsp;
                <button ng-show="input.editMode" type="submit" class="btn btn-primary" ng-click="removeView(view)">x</button>
            </li>
        </ul>
        <div ng-show="isManager()" style='float: right;'>
            <button type="submit" class="btn btn-primary" ng-click="input.editMode = !input.editMode;">{{ 'edit' | translate }}</button>
        </div>
    </div>
</div>
