<div class="col-md-12" style="padding: 0px;">
    <div style="position: fixed; width: 100%; height: 20px; background-color: blue; color: white;">
        View: {{view.title}}
    </div>

    <div class="KFViewCanvas">
        <div class="KFViewContributionCanvas">
            <div id="{{ref._id}}" postid="{{ref.postId}}" class="kfpostref {{ref.postId}}" ng-repeat="ref in onviewrefs" style="z-index: 5; position: absolute; top:{{ref.y}}px; left:{{ref.x}}px" ng-mousedown="mouseDown(this)" context-menu="contextOpen(this)" data-target="menu-A">
                <span style="white-space: nowrap;">
                <span ng-if="postref.read !== true">**</span>
                <a ng-click="openPost(ref.postId)" style="color: {{getColor(ref)}};">
                    {{ref.title}}</a> {{ref.getAuthor()}}
                </span>
            </div>
        </div>
    </div>

    <div style="position: fixed; top: 20px; width: 50px; z-index: 20;">
        <form>
            <span class="input-group">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="createNote()">New Note</button>
                </span>
            </span>
            <span class="input-group">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="createDrawing()">New Drawing</button>
                </span>
            </span>
            <span class="input-group">
                <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="openSearch()">Search</button>
                </span>
            </span>
        </form>
    </div>
</div>