<div class="col-md-12" style="padding: 0px; height: 100%;">
    <div class="KFViewNavBar">
        View: {{view.title}}
    </div>

    <div class="KFViewMainCanvas">
        <div class="KFViewContributionCanvas">
            <div id="{{ref._id}}" postid="{{ref.postId}}" class="KFViewRef {{ref.postId}}" ng-repeat="ref in onviewrefs" style="top:{{ref.y}}px; left:{{ref.x}}px" ng-mousedown="mouseDown(this)" context-menu="contextOpen(this)" data-target="menu-A">
                <span style="white-space: nowrap;">
                <a ng-click="openContoribution(ref.contributionId)" style="color: {{getColor(ref)}};">
                    {{ref.title}}</a> {{ref.getAuthor()}}
                </span>
            </div>
        </div>
        <div id="dropcanvas" class="KFViewDropCanvas KFViewMarqueeCanvas"></div>
    </div>

    <div class='KFViewToolBar'>
        <span class="input-group">
            <span class="input-group-btn">
               <button type="submit" style="width: 50px;" class="btn btn-primary" ng-click="createNote()">Note</button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
               <button type="submit" style="width: 50px;" class="btn btn-primary" ng-click="createDrawing()">Draw</button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 50px;" class="btn btn-primary" ng-click="openSearch()">Search</button>
            </span>
        </span>
    </div>
</div>