.KFViewNavBar {
    position: fixed;
    width: 100%;
    height: 20px;
    background-color: blue;
    color: white;
}
.KFViewToolBar {
    position: fixed;
    top: 20px;
    width: 50px;
    z-index: 0;
}
.KFViewMainCanvas {
    position: absolute;
    /*border: 1px solid #000000;*/    
    overflow: scroll;
    top: 20px;
    left: 50px;
    width: calc(100% - 50px);
    height: calc(100vh - 20px);
}
.KFViewContributionCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
}
.KFViewSelectedCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.KFViewMarqueeCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
    z-index: 2;
    /*background-color: rgba(255, 255, 0, 0.3);*/
}
.KFViewRef {
    /*border: 1px solid #000000;  */
    position: absolute;
    z-index: 5;
}

.ui-resizable {
    /*position: relative;*/
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#segrip {
    right: -5px;
    bottom: -5px;
}