.kfIcon:visited{
    color: black;
}
.kfIcon:hover{
    color: black;
}
.kfIcon{
    color: black;
}

.kfbutton {
    border-color: #FFFFFF;
    background-color: #AAAAAA;
    padding: 1px;    
}
.kfbutton:hover {
    background-color: #888888;
}

.KFViewNavBar {
    position: fixed;
    width: 100%;
    height: 25px;
    background-color: #09F;
    color: white;
    padding-top: 3px;    
    padding-left: 10px;
}
.KFViewToolBar {
    position: fixed;
    top: 25px;
    width: 40px;
    z-index: 0;
}
.KFViewMainCanvas {
    position: absolute;
    /*border: 1px solid #000000;*/
    
    overflow: scroll;
    top: 25px;
    left: 40px;
    width: calc(100% - 40px);
    height: calc(100vh - 25px);
}
.KFViewMainCanvasWithoutMenu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}
.KFViewContributionCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
}
.KFViewSelectedCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.KFViewMarqueeCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
    z-index: 2;
    /*background-color: rgba(255, 255, 0, 0.3);*/
}
.KFViewWindowsCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
    pointer-events: none;
    z-index: -100;
}
.KFViewRef {
    position: absolute;
    z-index: 5;
}
.ui-resizable {
    /*position: relative;*/
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#segrip {
    right: -5px;
    bottom: -5px;
}
/* for context menu */

.position-fixed {
    position: fixed;
}
.menuitem {
    padding-left: 10px;
    cursor: default;
    background-color: white;
}
.menuitem:hover {
    color: white;
    background-color: #0070FF;
}