<div class="col-md-12" style="padding: 0px;">
    <div collapse="isViewsCollapsed" style="padding-left: 50px; position: absolute; top: 0px; left: 0px; width: 100%; background-color: white; z-index: 100;">
        <div style="text-align: right; padding-right: 50px; padding-top: 5px;">
            <button type="submit" class="btn btn-primary kfbutton" ng-click="createViewlink()">close</button>
        </div>
        <div ng-repeat="view in views">
            <div viewlink><img src="assets/images/viewlink.png">{{view.title}}</div>
        </div>
    </div>

    <div collapse="isAttachmentCollapsed" style="padding-left: 50px; position: absolute; top: 0px; left: 0px; width: 100%; background-color: white; z-index: 100;">
        <div style="padding: 10px;">
            <div ng-include="'app/attachment/attachment.html'" ng-controller="AttachmentCtrl"></div>
        </div>
    </div>

    <div class="KFViewNavBar">{{view.title}}</div>

    <div class='KFViewToolBar'>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 40px;" class="btn btn-primary kfbutton" ng-click="createNote()"><img src="assets/images/noteA.png"></button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 40px;" class="btn btn-primary kfbutton" ng-click="createDrawing()"><img src="assets/images/drawingA.png"></button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 40px;" class="btn btn-primary kfbutton" ng-click="createViewlink()"><img src="assets/images/viewlinkA.png"></button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 40px;" class="btn btn-primary kfbutton" ng-click="openSearch()">Search</button>
            </span>
        </span>
        <span class="input-group">
            <span class="input-group-btn">
                <button type="submit" style="width: 40px;" class="btn btn-primary kfbutton" ng-click="openAttachment()">Attach</button>
            </span>
        </span>
    </div>

    <div id="maincanvas" class="KFViewMainCanvas">
        <div id="viewcanvas" class="KFViewContributionCanvas">
            <div ng-attr-id="{{ref._id}}" class="KFViewRef" ng-repeat="ref in refs" ng-style="{'top': ref.data.y, 'left': ref.data.x}" style="line-height: 100%;" ng-mousedown="mouseDown(this)" context-menu="onContextOpen(this)" data-target="menu-A">
                <div ng-if="ref.data.showInPlace!==true" style="white-space: nowrap; font-size: 12px;">
                    <div ng-if="ref.typeTo !== 'View'">
                        <span ng-attr-id="icon{{ref._id}}" ng-attr-class="icon{{ref.to}}"> 
                                <img ng-if="ref.read !== true" src="assets/images/idea-mark-unread.png">
                                <img ng-if="ref.read === true" src="assets/images/idea-mark-read.png">
                            </span>
                        <a ng-click="openContribution(ref.to)" ng-style="{'color' : ref.getColor()}">{{ref.titleTo}}</a>
                    </div>
                    <div ng-if "ref.typeTo === 'View'" style="white-space: nowrap;">
                        <span ng-attr-id="icon{{ref._id}}" ng-attr-class="icon{{ref.to}}">
                            <img src="assets/images/viewlink.png">
                        </span>
                        <a ng-click="openView(ref.to)" style="color: #0000FF;">{{ref.titleTo}}</a>
                    </div>
                    <span style="font-size: 10px; color: #777777; white-space: nowrap;">
                        {{ref.getAuthorString()}}
                    </span>
                </div>
                <div ng-if="ref.data.showInPlace===true" ng-style="{'width': ref.data.width, 'height': ref.data.height}" ng-attr-id="icon{{ref._id}}" ng-attr-class="icon{{ref.to}}">
                    <div ng-if="ref.typeTo === 'Drawing'" ng-bind-html="ref.contribution.svg"></div>
                    <div ng-if="ref.typeTo === 'Attachment'">
                        <div ng-if="ref.contribution.mime.indexOf('image/')>=0">
                            <img ng-attr-src="{{ref.contribution.url}}" ng-style="{'width': ref.data.width, 'height': ref.data.height}">
                        </div>
                        <div ng-if="ref.contribution.mime.indexOf('image/')<0">
                            <a ng-attr-href="{{ref.contribution.url}}">{{ref.contribution.title}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- for selection proxy-->
        <div id="selectioncanvas" class="KFViewSelectedCanvas"></div>
        <div id="dropcanvas" class="KFViewDropCanvas KFViewMarqueeCanvas"></div>
        <div id="windows" class="KFViewWindowsCanvas"></div>
    </div>

    <!-- I copied it to this folder, grunt automatically inject css -->
    <!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css"> -->

    <div class="dropdown position-fixed" id="menu-A" style="position: absolute; z-index: 20;">
        <ul class="dropdown-menu" role="menu">
            <li class="menuitem" ng-click="openInWindow()">Open In Window</li>
            <li class="menuitem" ng-click="edit()">Edit</li>
            <li class="menuitem" ng-click="delete()">Delete</li>
            <li class="menuitem" ng-click="showAsIcon()">ShowAsIcon</li>
            <li class="menuitem" ng-click="showInPlace()">ShowInPlace</li>
        </ul>
    </div>

</div>