.KFViewNavBar {
    position: fixed;
    width: 100%;
    height: 29px;
    border-width: 1px;
    border-color: #EEE;
    background-color: #DDD;
    color: #777;
    padding-top: 0px;
    padding-left: 0px;
}
.KFViewRightBar{
    transform: rotate(270deg);
    display: block;
    float: right;
    position: relative;
    top: 200px;
    right: 2px;
    height: 35px;
    background: #DDD;
    border:1px solid #DDD;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    line-height: 35px;
    width: 60px;
    cursor:pointer;
    z-index:100;
}
.KFViewRightBar:hover{
    border-color: #BBB;
    background-color: #BBB;
    color:white;
}
.KFCommunityTitle {
    height: 100%;
    /*border: 1px solid black;    */
    float: left;
    padding-top: 1px;
    padding-left: 50px;
    padding-right: 10px;
    font-size: 20px;
}
.KFViewTitle {
    height: 100%;    
    /*border: 1px solid black;    */
    float: left;    
    padding-top: 6px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
.KFUserName {
    height: 100%;        
    /*border: 1px solid black;*/
    padding-top: 11px;        
    font-size: 10px;    
    float: right;
    padding-left: 20px;    
    padding-right: 20px;
}
.KFViewToolBar {
    position: fixed;
    top: 30px;
    width: 34px;
    z-index: 0;
}
.KFViewMainCanvas {
    position: absolute;
    /*border: 1px solid #000000;*/
    
    overflow: scroll;
    top: 30px;
    left: 34px;
    width: calc(100% - 34px);
    height: 100vh;
    /* for safari <7.0  */
    
    height: calc(100vh - 30px);
}

/* This style is going to be added to maincanvas for riseabove */
.KFViewMainCanvas0 {
    position: absolute;
    overflow: scroll;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.KFViewContributionCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
}
.KFViewSelectedCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.kfViewMarqueeCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
    z-index: 2;
    /*background-color: rgba(255, 255, 0, 0.3);*/
}
.KFViewWindowsCanvas {
    position: absolute;
    left: 0pt;
    top: 0pt;
    width: 2000px;
    height: 2000px;
    pointer-events: none;
    z-index: -100;
}
/* for view ref presentation */

.kfViewRef {
    position: absolute;
    z-index: 5;
}
.kfIcon:visited {
    color: black;
}
.kfIcon:hover {
    color: black;
}
.kfIcon {
    color: black;
}
.KFToolBarButton {
    width: 34px;
    border-color: #DDD;
    background-color: #DDD;
    padding: 2px;
}
.KFToolBarImage{
    width: 30px;
}
.KFToolBarButton:hover {
    border-color: #BBB;
    background-color: #BBB;
}
.KFTimeLabel {
    font-size: 9px;
}
/* for handles */

.ui-resizable {
    /*position: relative;*/
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
#nwgrip, #negrip, #swgrip, #segrip, #ngrip, #egrip, #sgrip, #wgrip {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: 1px solid #000000;
}
#segrip {
    right: -5px;
    bottom: -5px;
}
/* for context menu */

.position-fixed {
    position: fixed;
}
.menuitem {
    padding-left: 10px;
    padding-left: 0.91em;
    height: 25px;
    height: 2.27em;
    line-height: 25px;
    line-height: 2.27em;
    cursor: default;
    background-color: white;
}
.menuitem:hover {
    color: white;
    background-color: #0070FF;
}

.unclickable{
    color:gray;
}
/* endo of context menu */
/* window related */

.ui-dialog .ui-dialog-titlebar {
    padding: 0px 10px;
}
.ui-dialog .ui-dialog-title {
    /*float: left;*/
    /*margin: .1em 0;*/
    /*white-space: nowrap;*/
    /*width: 90%;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}
.ui-widget-header {
    /*border: 1px solid #aaaaaa;*/
    /*background: #cccccc url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;*/
    
    background: #D9D9D9;
    /*color: #222222;*/
    /*font-weight: bold;*/
    
    font-weight: normal;
}
.ui-widget {
    /* reset to bootstrap */
    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-family: Verdana,Arial,sans-serif; */
    /* font-size: 1.1em; */
}
/* end of window related */
