<br/>
<label style="font-size:  15pt; "><b>Lexical Analysis</b></label>
<br/>
<br/>
<p style="text-align: left;">
    <button ng-class="{true: 'btn-primary', false: 'btn-default'}[status.detailCollapsed]" ng-click="status.detailCollapsed = !status.detailCollapsed">Selector</button </p>
    <div collapse="status.detailCollapsed">
        <div ng-include="'components/kfutils/viewauthordateselector/viewauthordateselector.html'"></div>
        <div style="padding: 5px; clear:both;">
            <label for="text">Lexican</label>:
            <button ng-click=" search()" ng-model="queryString">Word Tracker:</button>
            <br>
            <textarea id="text" cols="70" rows="10" ng-model="textareaText"></textarea>
        </div>
        </br>
    </div>
    <div ng-if="textareaText.length !=0 && status.detailCollapsed">
        <div ng-if="queryString === ''">
            <label style="font-size:  12pt; "><b>Word Reiteration Tracker in {{currentCommunity.community.title}} Community </b></label>
        </div>
        <div ng-if="queryString !== ''">
            <label style="font-size:  12pt; "><b>Word Reiteration Tracker via Selected Criterions ({{views}} / {{authors}} / {{fromdate}} / {{todate}})</b></label>
        </div>
        <button ng-class="{true: 'btn-primary', false: 'btn-default'}[status.detailsCollapsed]" ng-click="detailsControl()">Details:</button>
        <button ng-class="{true: 'btn-primary', false: 'btn-default'}[status.barchartCollapsed]" ng-click="barchartControl()">Bar Chart:</button>
        <button ng-class="{true: 'btn-primary', false: 'btn-default'}[status.radarchartCollapsed]" ng-click="radarchartControl()">Radar Chart:</button>
        <div style="padding: 5px;" collapse="status.barchartCollapsed">
            <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
        <div style="padding: 5px;" collapse="status.radarchartCollapsed">
            <canvas id="radar" class="chart chart-radar" chart-data="data" chart-labels="labels">
            </canvas>
        </div>
        <div style="padding: 5px;" collapse="status.detailsCollapsed">
            <div class="KFSearchResult">
                <div ng-if="status.status === 'searching'">
                    searching...
                </div>
                <div ng-if="status.status === 'noresult'">
                    There was no contributions to match.
                </div>
                <div ng-if="status.status === 'searched'">
                    <button type="button" ng-csv="lexicons" csv-header="getHeader()" filename="test.csv">ExportToCSV</button>
                    <div style="float: right;">
                        <pagination total-items="pager.total" ng-model="pager.page" max-size="maxSize" items-per-page="pager.pagesize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
                    </div>
                    <div style="width: 100%; float: left; text-align: right;">
                        CurrentPage: {{pager.page}} ({{pager.getStart()}} - {{pager.getEnd()}}) / Total: {{pager.total}} contributions were found.
                    </div>
                    <div ng-if="status.loading === true">
                    </div>
                    <div ng-if="status.loading !== true">
                        <table border='1' style="width: 100%;" id="table1">
                            <tr>
                                <th style="width: 15%;"> Lexicon</th>
                                <th style="width: 15%;">Frequency</th>
                                <th>In Contribution</th>
                            </tr>
                            <tr class="KFSearchResult" ng-repeat="lexicon in lexicons">
                                <td>{{lexicon .word}}</td>
                                <td> {{lexicon .maxcount}}</td>
                                <td>
                                    <div ng-repeat="info in lexiconsInfo" ng-if=" info.word===lexicon .word">
                                        <div kfelement draggable="true">
                                            <span><img ng-src="{{getIcon(info.note)}}" draggable="false"></span>
                                            <a class="KFSearchLink" href="contribution/{{info.note._id}}" target="_blank" draggable="false">{{info.note.title}}</a>--{{info.count }}
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <div style="height: 20px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
