'use strict';

// Reference: https://github.com/nodemailer/nodemailer#set-up-smtp

exports.transportOptions = {
    host: 'smtp.gmail.com',
    port: 465,
    secure: true, // use SSL
    auth: {
        user: 'ywtest0@gmail.com',
        pass: 'yw853300'
    }
};
exports.from ='ywtest0@gmail.com';
exports.baseURL = 'https://kf.example.net/';
