'use strict';

// Reference: https://github.com/nodemailer/nodemailer#set-up-smtp

exports.transportOptions = {
    host: 'smtp.gmail.com',
    port: 465,
    secure: true, // use SSL
    auth: {
        user: 'kf6feedback@gmail.com',
        pass: process.env.EMAIL_PASSWORD
    }
};
exports.from ='kf6feedback@gmail.com';
exports.baseURL = 'https://kf.example.net/';
