<div class="col-md-12" style="padding-left: 50px;">
    <label>Communities:</label>
    <table>
        <tr ng-repeat="community in myCommunities">
            <td style="padding-left: 20px;">{{community.title}}</td>
            <td style="padding-left: 5px;">(created: {{toTimeString(community.created)}})</td>
            <td style="padding-left: 20px;"><a href='communitytop/{{community._id}}'>Enter</a>
            </td>
            <td style="padding-left: 20px;"><a href='viewmanager/{{community._id}}'>Manager</a>
            </td>
        </tr>
    </table>

    <br>
    <br>

    <label>Join Community:</label>
    <div style="padding-left: 50px;">
        <table>
            <tr>
                <td style="text-align: right;">Community:</td>
                <td>
                    <ui-select ng-model="selected.community" theme="bootstrap" ng-disabled="disabled" style="width: 400px;">
                        <ui-select-match placeholder="Select community...">{{selected.community.title}} &lt;{{toTimeString(selected.community.created)}}&gt;</ui-select-match>
                        <ui-select-choices repeat="community in communities | filter: {title: $select.search} | orderBy:'created':true | orderBy:'title'">
                            <div ng-bind-html="community.title | highlight: $select.search"></div>
                            <small><div ng-bind-html="toTimeString(community.created)"></div></small>
                        </ui-select-choices>
                    </ui-select>
                    <p style="text-align: right;">{{communities.length}} possible communities.</p>
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">RegistrationKey:</td>
                <td>
                    <input type="text" class="form-control" placeholder="Enter registrationKey" ng-model="selected.key">
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="float: right;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="addRegistration()">Join</button>
                    </span>
                </td>
        </table>
    </div>

    <br>

    <label>New Community:</label>
    <div style="padding-left: 50px;">
        <table>
            <tr>
                <td style="text-align: right;">Title:</td>
                <td style="width: 400px;">
                    <input type="text" class="form-control" placeholder="Enter title of new community" ng-model="newCommunity.title">
                </td>
            </tr>
            <tr>
                <td style="text-align: right;">RegistrationKey:</td>
                <td>
                    <input type="text" class="form-control" placeholder="Enter registrationCode" ng-model="newCommunity.key">
                </td>
            </tr>
            <tr>
                <td></td>
                <td style="float: right;">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary" ng-click="addNewCommunity()">Add</button>
                    </span>
                </td>
        </table>
    </div>
</div>