<div class="col-md-12">
    This is the communitymanager view.
    <ul>
        <li ng-repeat="community in myCommunities"><a href='viewmanager/{{community._id}}'>{{community.title}}</a>
        </li>
    </ul>

    <h4>Join:</h4>
    <ui-select ng-model="selected.community" theme="bootstrap" ng-disabled="disabled" style="width: 400px;">
        <ui-select-match placeholder="Select community...">{{selected.community.title}} &lt;{{toTimeString(selected.community.created)}}&gt;</ui-select-match>
        <ui-select-choices repeat="community in communities | filter: {title: $select.search} | orderBy:'created':false | orderBy:'title'">
            <div ng-bind-html="community.title | highlight: $select.search"></div>
            <small><div ng-bind-html="toTimeString(community.created)"></div></small>
        </ui-select-choices>
    </ui-select>
    <button type="submit" class="btn btn-primary" ng-click="addRegistration()">Join</button>
    <br>
    <p>{{communities.length}} possible communities.</p>

    <!-- <form class="thing-form">
        <label></label>        
        <p class="input-group">
            <input type="text" class="form-control" placeholder="" ng-model="newTitle">
            <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addNew()">Add New</button>
      </span>
        </p>
    </form> -->
</div>