<div ng-controller="ScaffoldeditorCtrl" class="col-md-12">
    <label>Scaffold Editor</label>

    <div>
        <label>Supports</label>
        <ul>
            <li ng-repeat="supportref in contribution.supports">
                <a ng-click="selectSupport(supportref)">{{supportref._to.title}}</a> &nbsp;&nbsp;
                <button type="submit" class="btn btn-primary" ng-click="removeSupport(supportref)">x</button>
            </li>
        </ul>
    </div>

    <div>
        <label>New Support</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Input New Support Title" ng-model="input.supportTitle">
            <span class="input-group-btn">
        		<button type="submit" class="btn btn-primary" ng-click="addSupport()">Add New Support</button>
     		 </span>
        </p>
    </div>
</div>