<div class="col-md-12" style="padding: 0px;">
    <select ng-model="current" ng-options="s.title for s in scaffolds" context-menu data-target="menu-B">
    </select>
    <div class="box" style="padding-top: 10px; height: 200px; overflow-y: auto;">
        <div class="box2" ng-click="addSupport(s);" ng-repeat="s in current.supports" context-menu="onContextOpen(this)" data-target="menu-A">
            {{s.titleTo}}
        </div>
    </div>
    <div class="dropdown position-fixed" id="menu-A">
        <ul class="dropdown-menu" role="menu">
            <li class="menuitem" ng-click="openInWindow()">Open In Window</li>
        </ul>
    </div>
    <div class="dropdown position-fixed" id="menu-B">
        <ul class="dropdown-menu" role="menu">
            <li class="menuitem" ng-click="scaffoldOpenInWindow()">Open In Window</li>
        </ul>
    </div>    
</div>