<div class="well" collapse="status.isSavingProgressMonitorCollapsed" style="padding-left: 50px; position: absolute; top: 0px; left: 0px; width: 100%; height: 400px; background-color: white; z-index: 100;">
    <div>
        Saved.
    </div>
    <div style="text-align: right; padding-right: 100px; padding-top: 5px;">
        <button type="submit" class="btn btn-primary kfbutton" ng-click="status.isSavingProgressMonitorCollapsed=true">OK</button>
    </div>
</div>
<div class="col-md-12">
    <div ng-show="isManager()">
        <label> Community Scaffold Setting: </label>
        <div style="padding: 20px;">
            <button type="submit" class="btn btn-primary KFToolBarButton" ng-click="openRootContext()"><img class="KFToolBarImage" src="manual_assets/kf6images/13-settings.png" title="Settings"></button>
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div>
        <label>Scaffold Repository</label>
        <ul ui-sortable style="cursor: move;" ng-model="scaffolds">
            <li ng-repeat="scaffold in scaffolds">
                <a class="KFScaffoldManagerAnchor" ng-click="editScaffold(scaffold)">{{scaffold.title}}</a>
                <span ng-show="isManager()">
                    &nbsp;&nbsp;
                    <a class="KFGroupManagerAnchor trash" ng-click="removeScaffold(scaffold)"><span class="glyphicon glyphicon-trash"></span>
                </a>
                </span>
            </li>
        </ul>
        <div ng-show="isManager()" style="text-align: right;">
            <button type="submit" class="btn btn-primary" ng-click="saveOrder()">Save Order</button>
        </div>
    </div>
    <div style="height: 10px;"></div>
    <div ng-show="isManager()">
        <label>New Scaffold</label>
        <p class="input-group">
            <input type="text" class="form-control" placeholder="Input New Scaffold Title" ng-model="input.scaffoldTitle">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" ng-click="addScaffold()">Add New Scaffold</button>
             </span>
        </p>
    </div>
</div>