<div class="col-md-12">
    <h3>Contribution: {{contribution.title}}</h3>
    <div style="position: absolute; top: 10px; width: 95%; text-align: right;">
        <button type="submit" class="btn btn-primary" ng-click="buildson()">BuildsOn</button>
        <button type="submit" class="btn btn-primary" ng-click="contribute()">Contribute</button>
    </div>
    <tabset>
        <tab heading="Read">
            <div style="padding: 10px;">
                <div ng-if="contribution.type === 'Note'" ng-bind-html="contribution.body"></div>
                <div ng-if="contribution.type === 'Attachment'">
                    <div ng-if="isImage(contribution)">
                        <img ng-attr-src="{{contribution.url}}">
                    </div>
                    <div ng-if="!isImage(contribution)">
                        <a ng-attr-href="{{contribution.url}}">Download</a> ({{contribution.originalName}}, {{contribution.mime}}, {{contribution.size}}Bytes)
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Edit" active="editActive" select="editSelected()">
            <div style="padding: 5px;">
                <input type="text" class="form-control" placeholder="" ng-model="contribution.title">
                <div ng-if="contribution.type === 'Note'">
                    <table>
                        <tr>
                            <td valign="top" style="width: 150px; padding: 5px; overflow: hidden;">
                                <div>
                                    <div ng-include="'app/scaffold/scaffold.html'" ng-controller="ScaffoldCtrl"></div>
                                </div>
                            </td>
                            <td valign="top">
                                <div>
                                    <textarea style="height: 100%;" ui-tinymce="tinymceOptions" ng-model="contribution.body"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: right;">
                        <button class="btn btn-default" ng-click="isAttachmentCollapsed = !isAttachmentCollapsed">Attachments</button>
                    </div>
                    <div collapse="isAttachmentCollapsed">
                        <div class="well">
                            <span ng-repeat="attachment in images">
                                <img ng-attr-src="{{attachment.url}}" width="50px" height="50px"></img>
                            </span>
                            <p ng-if="images.length !== 0">You can drag and drop to the editor!</p>
                            <p ng-if="images.length === 0">There is no image attachment on this contribution.</p>
                        </div>
                    </div>
                </div>
                <div ng-if="contribution.type === 'Drawing'">
                    <div id="svgeditdiv"></div>
                </div>
            </div>
        </tab>

        <tab heading="Authors">
            <div style="height: 100%;">
                <div>
                    <h4>Authors:</h4>
                    <ul ui-sortable ng-model="authors">
                        <li style="cursor: move;" ng-repeat="author in authors">
                            {{author.name}}
                            <button type="submit" class="btn btn-primary" ng-click="removeAuthor(author)">x</button>
                        </li>
                    </ul>
                </div>
                <div>
                    <h4>Community Members:</h4>
                    <ul ng-repeat="member in communityMembers">
                        <li>
                            {{member.name}}
                            <button type="submit" class="btn btn-primary" ng-click="addAuthor(member)">Add</button>
                        </li>
                    </ul>
                </div>
            </div>
        </tab>

        <tab heading="Connections">
            <div>
                <h3>This note builds onto:</h3>
                <ul>
                    <li ng-repeat="conn in fromConnections" ng-if="conn.type==='buildson'">
                        <a href="/contribution/{{conn.to}}" target="_blank">{{conn.titleTo}}</a>{{conn}}
                    </li>
                </ul>
            </div>
            <div>
                <h3>This note is built onto by:</h3>
                <ul>
                    <li ng-repeat="conn in toConnections" ng-if="conn.type==='buildson'">
                        <a href="/contribution/{{conn.from}}" target="_blank">{{conn.titleFrom}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>This note belongs to view:</h3>
                <ul>
                    <li ng-repeat="conn in toConnections" ng-if="conn.type==='onviewref'">
                        <a href="/view/{{conn.from}}" target="_blank">{{conn.titleFrom}}</a>
                    </li>
                </ul>
            </div>
        </tab>

        <tab heading="Logs">
            <div>
                <h2>edit logs:</h2>
                <ul ng-repeat="record in records">
                    <li ng-if="record.type!=='read'">
                        {{record.type}} by {{record.user.name}} at {{record.getTime()}}
                    </li>
                </ul>
                <h2>read logs:</h2>
                <ul ng-repeat="record in records">
                    <li ng-if="record.type==='read'">
                        {{record.type}} by {{record.user.name}} at {{record.getTime()}}
                    </li>
                </ul>
            </div>
        </tab>

        <tab heading="Attachments">
            <div>
                <h3>Attachments:</h3>
                <ul>
                    <li ng-repeat="conn in fromConnections" ng-if="conn.type==='attach'">
                        <a href="/contribution/{{conn.to}}" target="_blank">{{conn.titleTo}}</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Upload:</h3>
                <div style="padding: 10px;">
                    <div ng-include="'app/attachment/attachment.html'" ng-controller="AttachmentCtrl"></div>
                </div>
            </div>
        </tab>
    </tabset>
</div>