<div ng-hide="status.error" class="col-md-12 KFContribution" style="height: 100%;display:block; width:100%;float:left;">
    <!-- dialogs -->
    <div class="well" collapse="status.isContributionCollapsed" style="padding-left: 50px; position: absolute; top: 0px; left: 0px; width: 100%; height: 400px; background-color: white; z-index: 100;">
        <div>
            <span ng-if="status.contribution==='saving'">Saving...</span>
            <span ng-if="status.contribution==='success'">{{ 'contribution_success' | translate }}</span>
            <span ng-if="status.contribution==='failure'">Contribution Failed.</span>
            <span ng-if="status.contribution==='stored'">Contribution Failed. <br>Your writing temporary saved to the localstorage. Please recover the writing by "Recovery" button on the new note.</span>
        </div>
        <div style="text-align: right; padding-right: 100px; padding-top: 5px;">
            <button ng-show="status.contribution!=='saving'" type="submit" class="btn btn-primary kfbutton" ng-click="status.isContributionCollapsed=true">{{ 'contribution_continueEditing' | translate }}</button>
            <button ng-show="status.contribution==='success'" type="submit" class="btn btn-primary kfbutton" ng-click="closeRequest()">{{ 'contribution_finish' | translate }}</button>
        </div>
    </div>
    <div class="well" collapse="status.isAttachmentsCollapsed" style="padding-left: 50px; position: absolute; top: 0px; left: 50px; width: 50%; background-color: white; z-index: 100;">
        <div style="text-align: right; padding-right: 50px; padding-top: 5px;">
            <button type="submit" class="btn btn-primary kfbutton" ng-click="status.isAttachmentsCollapsed = true;">{{ 'close' | translate }}</button>
        </div>
        <div style="padding: 10px;">
            <div ng-include="'components/kfutils/attachmentuploader/attachmentuploader.html'"></div>
        </div>
    </div>
    <!-- title header part -->
    <div id="title_area" style="overflow: hidden;">
        <div style="float: left; overflow: hidden;">
            <span class="KFTitle" title="{{contribution.title}}">&nbsp;{{isMobile() && contribution.title.length > 21 ? contribution.title.substring(0,21) + '...' : contribution.title}}</span>
        </div>
        <div style="float: right; padding-right: 20px;">
            <p class="KFModified">{{ 'createdBy' | translate }}: {{getAuthorString()}}</p>
            <p class="KFModified">{{ 'lastModified' | translate }}: {{getTimeString(contribution.modified)}}</p>
        </div>
    </div>
    <!-- tab and contents part -->
    <div class="KFTabSet">
        <tabset>
            <tab heading="{{ 'read' | translate }}" class="KFTab" select="tabSelected('read')" deselect="readDeselected()">
                <div  style="position: relative; ">
                    <button ng-mouseup="clearSelection();" class="btn btn-primary KFToolBarButton promisingbtn tooltip1" ng-style="promisingobj" type="submit" ng-click=" status.ispromisingideaCollapsed = !status.ispromisingideaCollapsed; status.hidecontributeButtonBar = !status.hidecontributeButtonBar;" ng-show="selectedText!=''&&context.data.plugins.promisingnessidea=== true"><img src="manual_assets/kf6images/promising-idea-normal.png" title="Promising Idea">
                      <span class="tooltiptext">Promisingness Idea</span></button>
                </div>
                <div ng-mouseup="setSelectedText($event)" style="padding: 10px; height: 100%;">
                    <div style="height: 100%;" ng-if="contribution.type === 'Note'">
                        <link rel="stylesheet" type="text/css" href="/manual_assets/kfmce.css" />
                        <div annotatable style="padding-top: 2px; padding-left: 10px; padding-right: 10px;" ng-show="!contribution.isRiseabove()">
                            <div  class="kfDragSource promising" ng-bind-html="trustAsHtml(copy.body)"></div>
                        </div>
                        <div style="height: 100%; width: 100%;" ng-hide="!contribution.isRiseabove()">
                             <div  class="kfDragSource promising" style="float: left; width: 40%; height: 100%; overflow: auto;" ng-bind-html="copy.body"></div>
                             <div style="height: 100%; overflow: hidden;">
                                <label>Riseabove View:</label>
                                <button class="btn btn-default" ng-click="openRiseaboveView()">Open In Window</button>
                                <div id="riseabovediv" style="height: 100%; height: calc(100% - 20px);)border: 1px solid black;"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-if="contribution.type === 'Attachment'">
                        <div ng-if="isImage(contribution)">
                            <img ng-attr-src="{{contribution.data.url}}">
                        </div>
                        <div ng-if="!isImage(contribution)">
                            <a ng-click="downloadAttachment(contribution)">{{ 'download' | translate }}</a> ({{contribution.data.filename}}, {{contribution.data.type}}, {{contribution.data.size}}Bytes)
                        </div>
                    </div>
                    <div ng-if="contribution.type === 'Group'">
                        <div ng-include="'components/kfutils/group/groupreader.html'"></div>
                    </div>
                    <div ng-if="contribution.type === 'Scaffold'">
                        <div ng-include="'components/kfutils/scaffoldeditor/scaffoldreader.html'"></div>
                    </div>
                </div>
            </tab>
            <tab class="KFTab" ng-show="isEditable()" heading="{{ 'edit' | translate }}" active="status.edittabActive" select="tabSelected('edit')">
                <div style="padding: 2px; height: 100%;">
                    <div>
                        <div ng-if="contribution.type === 'Note'" style="float: left;">
                            <button class="btn btn-default" ng-click="status.isScaffoldCollapsed = !status.isScaffoldCollapsed"><img src="manual_assets/kf6images/Arrow-UpDown.png">
                            </button>
                        </div>
                        <div style="float: left; width: 10px;">&nbsp;</div>
                        <div style="overflow: hidden;">
                            <!-- <div style="float: left;">title:</div> -->
                            <div style="overflow: hidden;">
                                <input type="text" class="form-control" style="overflow: hidden;" placeholder="{{ 'title_placeholder' | translate }}" ng-model="contribution.title">
                            </div>
                        </div>
                    </div>
                    <div style="height: 5px;"></div>
                    <div ng-if="contribution.type === 'Note'" style="height: calc(100% - 24px);">
                        <div style="float: left; height: auto; overflow-y: auto; overflow-x: hidden;">
                            <div collapse="status.isScaffoldCollapsed" valign="top" style="width: 195px; padding: 5px;height:auto;">
                                <div style="max-width: 175px;">
                                    <div style="height: 7px;"></div>
                                    <label>{{ 'scaffolds' | translate }}:</label>
                                    <div ng-include="'components/kfutils/scaffold/scaffold.html'"></div>
                                </div>
                                <div style="height: 10px;"></div>
                                <div>
                                    <label>{{ 'keyword-s' | translate }}:</label>
                                    <button class="btn btn-default" ng-click="addKeyword()"><img src="manual_assets/kf4images/button-key-on.png">
                                    </button>
                                    <input type="text" class="form-control" style="max-width: 175px;" placeholder="" ng-model="copy.keywords">
                                </div>
                                <div style="height: 7px;"></div>
                                <label>{{ 'attachments' | translate }}:</label>
                                <button class="btn btn-default" ng-click="status.isAttachmentsCollapsed = !status.isAttachmentsCollapsed">{{ 'attach' | translate }}</button>
                                <button ng-disabled="!status.insertable" class="btn btn-default" ng-click="insertImg()">{{ 'insert' | translate }}</button>
                                <div class="KFContainer">
                                    <span ng-repeat="attachment in images">
                                    <img kfImgDrag class="" style="vertical-align: inherit;" ng-attr-src="{{attachment.data.url}}" width="50px" height="50px" ng-click="selectedImg()" data-mce-src="{{attachment.data.url}}"></img>
                                            </span>
                                    <p ng-if="images.length !== 0">Drag and drop to the editor!</p>
                                    <p ng-if="images.length === 0">{{ 'attachments_image_not' | translate }}</p>
                                </div>
                                <!-- Added by Xing Liu -->
                                <div ng-if="context.data.plugins.relatedword === true">
                                    <div style="height: 7px;"></div>
                                    <div style="max-width: 175px;">
                                        <div ng-include="'manual_components/relatedword/relatedword.html'"></div>
                                    </div>
                                </div>
                                <!-- Xing Liu -->
                                <div style="height: 3px;"></div>
                                <div>
                                    <label>{{ 'tools' | translate }}:</label>
                                    <br>
                                    <button ng-disabled="!status.recoverable" class="btn btn-default" ng-click="recover()">{{ 'recovery' | translate }}</button>
                                </div>
                            </div>
                        </div>
                        <div style="overflow: hidden;">
                            <div ng-show="!mceEditor">Editor have not initialized yet. <span>Never edit now</span></div>
                            <textarea ng-show="mceEditor" ui-tinymce="tinymceOptions" ng-model="copy.body"></textarea>
                        </div>
                    </div>
                    <div ng-if="contribution.type === 'Drawing'">
                        <div id="svgeditdiv"></div>
                    </div>
                    <div ng-if="contribution.type === 'Group'">
                        <div ng-include="'components/kfutils/group/groupeditor.html'"></div>
                    </div>
                    <div ng-if="contribution.type === 'Scaffold'">
                        <div ng-include="'components/kfutils/scaffoldeditor/scaffoldeditor.html'"></div>
                    </div>
                    <div ng-if="contribution.type === 'View'">
                        <div ng-include="'components/kfutils/vieweditor/vieweditor.html'"></div>
                    </div>
                    <div ng-if="contribution.type === 'Context'">
                        <div ng-include="'components/kfutils/contexteditor/contexteditor.html'"></div>
                    </div>
                </div>
            </tab>
            <!-- <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css"> -->
            <link rel="stylesheet" href="manual_components/select2-css/3.4.5/select2.css">
            <tab class="KFTab" heading="{{ 'author-s' | translate }}" select="tabSelected('authors')">
                <div style="height: 100%;">
                    <table style="width: 100%;">
                        <tr>
                            <td width="50%" valign="top">
                                <h4>{{ 'author-s' | translate }}:</h4>
                                <ul ui-sortable ng-model="authors">
                                    <li style="cursor: move;" ng-repeat="author in authors">
                                        {{author.getName()}}
                                        <button ng-show="isEditable()" type="submit" class="btn btn-primary" ng-click="removeAuthor(author)">x</button>
                                    </li>
                                </ul>
                                <h4>{{ 'group' | translate }}:</h4>
                                <div style="padding-left: 30px;">
                                    <div ng-if="!isEditable()">
                                        {{selected.group.title}}
                                    </div>
                                    <div ng-if="isEditable()">
                                        <select ng-model="selected.group" ng-options="g.title for g in community.groupsArray" ng-change="updateDirtyStatus()"></select>
                                    </div>
                                    <div ng-show="selected.group._id" style="padding: 10px 10px;">
                                        click <a ng-href="contribution/{{contribution.group}}" target="_blank">here</a> to check member(s)
                                    </div>
                                </div>
                            </td>
                            <td width="100%" valign="top">
                                <div ng-show="isEditable()">
                                    <h4>{{ 'author_add' | translate }}:</h4>
                                    <div style="width: 100%;" ng-include="'components/kfutils/authorselector/authorselector.html'"></div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </tab>
            <tab class="KFTab" heading="{{ 'connections' | translate }}" select="tabSelected('connections')">
                <div>
                    <label>{{ 'contribution_connection_buildsOnto' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in fromConnections" ng-if="conn.type==='buildson'">
                            <a href="/contribution/{{conn.to}}" target="_blank">{{conn._to.title}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>{{ 'contribution_connection_builtOnto' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in toConnections" ng-if="conn.type==='buildson'">
                            <a href="/contribution/{{conn.from}}" target="_blank">{{conn._from.title}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>{{ 'contribution_connection_views' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in toConnections" ng-if="conn.type ==='contains' && conn._from.type === 'View'">
                            <a href="/view/{{conn.from}}" target="_blank">{{conn._from.title}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-show="contribution.type === 'Note'">
                    <label>{{ 'note_connection_supportedBy' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in toConnections" ng-if="conn.type==='supports'">
                            <a href="/contribution/{{conn.from}}" target="_blank">{{conn._from.title}}</a>
                        </li>
                    </ul>
                </div>
                <div ng-show="contribution.type === 'Support'">
                    <label>This support supports:</label>
                    <ul>
                        <li ng-repeat="conn in fromConnections" ng-if="conn.type==='supports'">
                            <a href="/contribution/{{conn.to}}" target="_blank">{{conn._to.title}}</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <label>{{ 'contribution_connection_references' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in fromConnections" ng-if="conn.type==='references'">
                            <a href="/contribution/{{conn.to}}" target="_blank">{{conn._to.title}}</a>
                        </li>
                    </ul>
                    <label>{{ 'contribution_connection_referencedBy' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in toConnections" ng-if="conn.type==='references'">
                            <a href="/contribution/{{conn.from}}" target="_blank">{{conn._from.title}}</a>
                        </li>
                    </ul>
                </div>
            </tab>
            <tab class="KFTab" heading="{{ 'history' | translate }}" select="tabSelected('history')">
                <div>
                    <label>{{ 'edit_logs' | translate }}:</label>
                    <ul>
                        <li ng-repeat="record in records" ng-if="record.type!=='read'">
                            {{record.getTime()}}: {{record.user.getName()}}
                            <span ng-if="record.historicalObjectId"><a ng-href="historicalobject/{{record.historicalObjectId}}" target="_blank" >{{ 'technical_data' | translate }}</a></span>
                        </li>
                    </ul>
                    <label>{{ 'read_logs' | translate }}:</label>
                    <ul>
                        <li ng-repeat="record in records" ng-if="record.type==='read'">
                            {{record.getTime()}}: {{record.user.getName()}}
                        </li>
                    </ul>
                </div>
            </tab>
            <tab class="KFTab" heading="{{ 'attachments' | translate }}" select="tabSelected('attachments')">
                <div>
                    <label>{{ 'attachments' | translate }}:</label>
                    <ul>
                        <li ng-repeat="conn in fromConnections" ng-if="conn.type==='attach'">
                            <a href="/contribution/{{conn.to}}" target="_blank">{{conn._to.title}}</a> &nbsp; &nbsp;
                            <span ng-show="isEditable()">
                              <a ng-click="deleteAttachment(conn)">delete</a>
                            </span>
                        </li>
                    </ul>
                </div>
                <div ng-show="isEditable()">
                    <label>{{ "attachments_add" | translate }}:</label>
                    <button class="btn btn-default" ng-click="status.isAttachmentsCollapsed = !status.isAttachmentsCollapsed">{{ 'attach' | translate }}</button>
                </div>
            </tab>
            <tab class="KFTab" ng-show="isEditable()" heading="{{ 'properties' | translate }}" select="tabSelected('properties')">
                <div>
                    <label>{{ 'properties' | translate }}:</label>
                    <div style="padding: 10px;">
                        <label>Permission:</label>
                        <div style="padding: 20px;">
                            <table class="KFPermission">
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Authors</td>
                                    <td>Group Members</td>
                                    <td>Others</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" ng-model="contribution.permission" value="private">&nbsp;private
                                    </td>
                                    <td>rw</td>
                                    <td>rw</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" ng-model="contribution.permission" value="protected">&nbsp;protected
                                    </td>
                                    <td>rw</td>
                                    <td>rw</td>
                                    <td>r</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" ng-model="contribution.permission" value="public">&nbsp;public
                                    </td>
                                    <td>rw</td>
                                    <td>rw</td>
                                    <td>rw</td>
                                </tr>
                            </table>
                        </div>
                        <label>Status:</label>
                        <div style="padding: 20px;">
                            {{contribution.status}}
                        </div>
                        <label>Template:</label>
                        <div style="padding: 20px;">
                            isTemplate<input type="checkbox" ng-model="contribution.data.isTemplate">
                        </div>
                    </div>
                    <div style="padding: 10px;" ng-if="contribution.type === 'Note'">
                        <label>Riseabove:</label>
                        <ul ng-if="contribution.isRiseabove()">
                            This note has riseabove view. Please look it at 'Read' tab.
                        </ul>
                        <ul ng-if="!contribution.isRiseabove()">
                            <button type="submit" class="btn btn-primary" ng-click="makeRiseabove()">MakeRiseabove</button>
                        </ul>
                    </div>
                </div>
            </tab>
            <tab class="KFTab" heading="Promisingness Ideas"  select="promisingIdeaSelected()" deselect="promisingIdeaDeselected()"  ng-show="status.ispromisingideaTabDisplayed&&context.data.plugins.promisingnessidea=== true">
                <label>Promisingness Ideas:</label>
                <div ng-repeat="conn in toConnections" ng-if="conn.type==='promisings'">
                    <div ng-hide="deletedIndex==$index">
                        <div ng-hide="selectedIndex==$index ||newnoteIndex==$index ">
                          <label style="float: left; color:red; font-size:  9pt" ng-if="!hasSubString(conn.data.idea)">The content pertaining to this promising idea no longer exist</label>
                           <div style="text-align: right; padding-right: 20px; padding-top: 1px;">
                                <button type="submit" class="btn btn-primary kfbutton" ng-click="setnewnoteIndex($index); setnewnoteInfo(conn.data.idea)">Export Ideas</button>
                                <button type="submit" ng-show="isPromisingIdeaCreator(promisingIdeaobjs[conn.from].authors)" class="btn btn-primary kfbutton" ng-click="setIndex($index)" title="Edit Justification & Highlight">Edit</button>
                                <button type="submit" ng-show="isPromisingIdeaCreator(promisingIdeaobjs[conn.from].authors)"  class="btn btn-primary kfbutton" ng-click="promisingIdeaobjDeleted(conn);deletedIndex=$index" title="Delete the idea from database">Delete</button>
                            </div>
                            <label style="clear:both; float: left; font-size:  9pt" ng-if="getPromisingIdeacolorobjupdatemsg(promisingIdeaobjs[conn.from].data.color)"> <b> Colour-Group Attribution : {{updatemsg}}</b></label>
                            <label style="clear:both;float: left; font-size:  9pt">Idea : </label>
                            <tt class="box" ng-style="{ 'background-color': promisingIdeaobjs[conn.from].data.color}"></tt>
                            <tt style="clear:both; float: left" ng-bind-html="trustAsHtml(conn.data.idea)"></tt>
                            <br>
                            <tt style="float:right">-(By {{getPromisingIdeaCreator(promisingIdeaobjs[conn.from].authors)}}  {{getPromisingIdeaCreated(promisingIdeaobjs[conn.from].modified)}})</tt>
                            <br style="clear:both">
                            <label style="float: left; font-size:  9pt"> <b> Justification for Selection of Promisingness Idea:   </b></label>
                               &nbsp;&nbsp; {{promisingIdeaobjs[conn.from].data.reason}}
                        </div>
                        <div style="padding: 1px ;" ng-show="newnoteIndex==$index">
                            <div style="text-align: right; padding-right: 20px; padding-top: 1px;">
                               <button type="submit" class="btn btn-primary kfbutton" ng-click="setnewnoteIndex(-1)">Cancel</button>
                            </div>
                             <label>Title:</label>
                            <input type="text" class="form-control" style="overflow: hidden; width:400px; " placeholder="put your title here." ng-model="promisingnoteTitle" />
                            <label>Views:</label>
                            <div style="width: 400px;" ng-include="'components/kfutils/viewselector/viewselector.html'"></div>
                            <br>
                            <label style="float: left;font-size:  9pt">Idea : </label>
                            <tt style="float: left" ng-bind-html="trustAsHtml(conn.data.idea)"></tt>
                            <br>
                        </div>
                        <div ng-show="selectedIndex==$index ">
                            <div style="text-align: right; padding-right: 20px; padding-top: 1px;">
                                <button type="submit" class="btn btn-primary kfbutton" ng-click="promisingIdeaobjUpdated(conn);setIndex(-1)">Save</button>
                                <button type="submit" class="btn btn-primary kfbutton" ng-click="setIndex(-1); updatepromisingIdeaobjs()">Cancel</button>
                            </div>
                           <label style="font-size:  9pt" ng-if="getPromisingIdeacolorobjupdatemsg(promisingIdeaobjs[conn.from].data.color)"> <b> Colour-Group Attribution : {{updatemsg}}</b></label>
                           <button type="submit" style="clear: both" class="btn btn-primary kfbutton" ng-if="promisingIdeaobjs[conn.from].data.color!==''" ng-click="promisingIdeaobjs[conn.from].data.color=''">Clear colour</button>
                           <br>
                           <ngjs-color-picker selected-color="promisingIdeaobjs[conn.from].data.color" custom-colors="colors"></ngjs-color-picker>
                           <label style="float: left;font-size:  9pt">Idea : </label>
                            <tt class="box" ng-style="{ 'background-color': promisingIdeaobjs[conn.from].data.color }"></tt>
                            <tt style="float: left" ng-bind-html="trustAsHtml(conn.data.idea)"></tt>
                            <br>
                            <tt style="float:right">-(By {{getPromisingIdeaCreator(promisingIdeaobjs[conn.from].authors)}} {{getPromisingIdeaCreated(promisingIdeaobjs[conn.from].modified)}})</tt>
                            <br style="clear:both">
                            <label style="float: left; font-size:  9pt"> <b> Justification for Selection of Promisingness Idea:</b></label>
                            <br>
                            <textarea id="promising-idea-reason" cols="70" rows="2" ng-model="promisingIdeaobjs[conn.from].data.reason"></textarea>
                        </div>
                        <hr style="clear:both; height: 2px;background-color: #33BBFF; " />
                    </div>
                </div>
            </tab>
        </tabset>
    </div>

    <div class="well" collapse="status.ispromisingideaCollapsed" style="padding-left: 0px; position: absolute; top:0px; left: 0px; width: 100%; min-height: 100% !important; height: 100%;background-color: white; z-index: 100;">
        <label style="font-size:  11pt; text-align: center; text-decoration: underline; padding-left: 10px;"><b>Add Promisingness Idea</b></label>
        <div style="padding-left: 20px; height: 90%; overflow: scroll; width:100%; float: left">
          <label style="font-size:  9pt"> <b> Colour-Group Attribution : {{createmsg}}</b></label>
          <button type="submit" style="clear: both" class="btn btn-primary kfbutton" ng-if="obj.targetColor!==''" ng-click="clearColor();">Clear colour</button>
           <br>
           <ngjs-color-picker selected-color="obj.targetColor" custom-colors="colors"></ngjs-color-picker>
           <label style="float: left;font-size:  9pt">Idea : </label>
            <tt class="box" ng-style="{ 'background-color': obj.targetColor}"></tt>
            <tt style="float: left" ng-bind-html="trustAsHtml(selectedText)"></tt>
            <br>
            <br>
            <label style="float: left; font-size:  9pt"> <b>Justification for Selection of Promisingness Idea:</b></label>
            <br>
            <textarea id="text" cols="70" rows="2" ng-model="obj.textareaText"></textarea>
        </div>
         <div style="clear:both; text-align: right; padding-right: 10px; padding-top: 5px; height: 10%">
           <button  type="submit" class="btn btn-primary kfbutton" ng-click="promisingIdeaobjProcessCancel()">Cancel</button>
           <button type="submit" class="btn btn-primary kfbutton" ng-click="promisingIdeaobjProcess(); status.ispromisingideaCollapsed = true; status.hidecontributeButtonBar = false;">Save</button>
         </div>
        <hr>
    </div>
    <div ng-show="!status.hidecontributeButtonBar" >
        <div style="float: right; padding-top: 0px; padding-right: 10px;">
            <button ng-disabled="!status.dirty" ng-show="isEditable()" type="submit" class="btn btn-primary" ng-click="contribute()">{{ 'contribute' | translate }}</button>
        </div>
        <div style="float: right; padding-top: 0px; padding-right: 10px;">
            <button ng-hide="status.hidebuildson" type="submit" class="btn btn-primary" ng-click="buildson()">{{ 'build-on' | translate }}</button>
        </div>
        <div ng-if="contribution.data.isTemplate" style="float: right; padding-top: 0px; padding-right: 10px;">
            <button ng-hide="status.hidebuildson" type="submit" class="btn btn-primary" ng-click="makeFromTemplate()">New Note using Template</button>
        </div>
        <div style="float: left; padding-top: 0px; padding-right: 5px;">
            <button ng-show="(haspromisingidea&&!status.hidebuildson)&&context.data.plugins.promisingnessidea=== true" type="submit" class="btn btn-primary" ng-click="showPromisingIdeasInReadMode()">{{promisingmsg}}</button>
        </div>
    </div>
</div>
<div ng-show="status.error">
    Error: {{status.errorMessage}}
</div>
