.KFContribution {
    padding: 2px;
}
.KFTitle {
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}
.KFModified {
    font-size: 8px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}
/* tab related */

.KFTabSet {
    height: 100%;
    height: calc(100% - 50px);
}
.KFTabSet .ng-isolate-scope {
    height: 100%;
}
.KFTabSet .tab-content {
    overflow: auto;
    vertical-align: top;
    height: calc(100% - 19px);
}
.KFTabSet .tab-pane {
    height: 100%;
}
.nav > .KFTab > a {
    padding: 1px 10px;
    cursor: pointer;
}
/* override bootstrap */
/*.nav > li > a {
    padding: 5px 10px;
}*/
/*table, th, td {
    border: 1px solid black;
}*/