<div class="col-md-12">
    <h3>{{contribution.type}}: {{contribution.title}}</h3>
    <div style="position: absolute; top: 10px; width: 95%; text-align: right;">
        <button type="submit" class="btn btn-primary" ng-click="buildson()">BuildsOn</button>
        <button type="submit" class="btn btn-primary" ng-click="contribute()">Contribute</button>
    </div>
    <tabset>
        <tab heading="Read">
            <div style="padding: 10px;">
                <div class="KFDragSource" ng-if="contribution.type === 'Note'" ng-bind-html="copy.body"></div>
                <div ng-if="contribution.type === 'Attachment'">
                    <div ng-if="isImage(contribution)">
                        <img ng-attr-src="{{contribution.url}}">
                    </div>
                    <div ng-if="!isImage(contribution)">
                        <a ng-attr-href="{{contribution.url}}">Download</a> ({{contribution.originalName}}, {{contribution.mime}}, {{contribution.size}}Bytes)
                    </div>
                </div>
            </div>
        </tab>

        <tab heading="Edit" active="editActive" select="editSelected()">
            <div style="padding: 5px;">
                <input type="text" class="form-control" placeholder="" ng-model="contribution.title">
                <div ng-if="contribution.type === 'Note'">
                    <table>
                        <tr>
                            <td valign="top" style="width: 150px; padding: 5px; overflow: hidden;">
                                <div>
                                    <div ng-include="'app/scaffold/scaffold.html'" ng-controller="ScaffoldCtrl"></div>
                                </div>
                            </td>
                            <td valign="top">
                                <div>
                                    <textarea style="height: 100%;" ui-tinymce="tinymceOptions" ng-model="copy.body"></textarea>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div style="text-align: right;">
                        <button class="btn btn-default" ng-click="isAttachmentCollapsed = !isAttachmentCollapsed">Attachments</button>
                    </div>
                    <div collapse="isAttachmentCollapsed">
                        <div class="well">
                            <span ng-repeat="attachment in images">
                                <img ng-attr-src="{{attachment.url}}" width="50px" height="50px"></img>
                            </span>
                            <p ng-if="images.length !== 0">You can drag and drop to the editor!</p>
                            <p ng-if="images.length === 0">There is no image attachment on this contribution.</p>
                        </div>
                    </div>
                </div>
                <div ng-if="contribution.type === 'Drawing'">
                    <div id="svgeditdiv"></div>
                </div>
                <div ng-if="contribution.type === 'View'">
                    <button type="submit" class="btn btn-primary" ng-click="updateAllCash()">UpdateAllCash</button>
                </div>
            </div>
        </tab>

        <!-- <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css"> -->
        <link rel="stylesheet" href="manual_components/select2-css/3.4.5/select2.css">
        <tab heading="Authors">
            <div style="height: 100%;">
                <table style="width: 100%;">
                    <tr>
                        <td width="50%" valign="top">
                            <h4>Authors:</h4>
                            <ul ui-sortable ng-model="authors">
                                <li style="cursor: move;" ng-repeat="author in authors">
                                    {{author.name}}
                                    <button type="submit" class="btn btn-primary" ng-click="removeAuthor(author)">x</button>
                                </li>
                            </ul>
                        </td>
                        <td width="100%" valign="top">
                            <h4>Add to authors:</h4>
                            <ui-select ng-model="selected.author" theme="select2" ng-disabled="disabled" style="width: 80%;">
                                <ui-select-match placeholder="Select author...">{{selected.author.name}} &lt;{{selected.author.email}}&gt;</ui-select-match>
                                <ui-select-choices repeat="author in communityMembers | filter: {name: $select.search, email: $select.search} | orderBy:'name'| limitTo:12">
                                    <div ng-bind-html="author.name | highlight: $select.search"></div>
                                    <small><div ng-bind-html="author.email | highlight: $select.search"></div></small>
                                </ui-select-choices>
                            </ui-select>
                            <button type="submit" class="btn btn-primary" ng-click="addAuthor(selected.author)">Add</button>
                        </td>
                    </tr>
                </table>
            </div>
        </tab>

        <tab heading="Connections">
            <div>
                <h3>This note builds onto:</h3>
                <ul>
                    <li ng-repeat="conn in fromConnections" ng-if="conn.type==='buildson'">
                        <a href="/contribution/{{conn.to}}" target="_blank">{{conn.titleTo}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>This note is built onto by:</h3>
                <ul>
                    <li ng-repeat="conn in toConnections" ng-if="conn.type==='buildson'">
                        <a href="/contribution/{{conn.from}}" target="_blank">{{conn.titleFrom}}</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>This note belongs to view:</h3>
                <ul>
                    <li ng-repeat="conn in toConnections" ng-if="conn.type==='onviewref'">
                        <a href="/view/{{conn.from}}" target="_blank">{{conn.titleFrom}}</a>
                    </li>
                </ul>
            </div>
        </tab>

        <tab heading="Logs">
            <div>
                <h2>edit logs:</h2>
                <ul ng-repeat="record in records">
                    <li ng-if="record.type!=='read'">
                        {{record.type}} by {{record.user.name}} at {{record.getTime()}}
                    </li>
                </ul>
                <h2>read logs:</h2>
                <ul ng-repeat="record in records">
                    <li ng-if="record.type==='read'">
                        {{record.type}} by {{record.user.name}} at {{record.getTime()}}
                    </li>
                </ul>
            </div>
        </tab>

        <tab heading="Attachments">
            <div>
                <h3>Attachments:</h3>
                <ul>
                    <li ng-repeat="conn in fromConnections" ng-if="conn.type==='attach'">
                        <a href="/contribution/{{conn.to}}" target="_blank">{{conn.titleTo}}</a>
                    </li>
                </ul>
            </div>

            <div>
                <h3>Upload:</h3>
                <div style="padding: 10px;">
                    <div ng-include="'app/attachment/attachment.html'" ng-controller="AttachmentCtrl"></div>
                </div>
            </div>
        </tab>
    </tabset>
</div>