.KFPermission td, th {
    padding: 3px;
}
.KFContribution {
    padding: 2px;
}
.KFTitle {
    font-weight: 500;
    font-size: 16px;
    padding-left: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}
.KFModified {
    font-size: 8px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 0px;
}
/* utility container extends by "well" class */
/* now we use on attachments on editing tab */

.KFContainer {
    min-height: 20px;
    padding: 3px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    .box-shadow(inset 0 1px 1px rgba(0, 0, 0, .05));
}
.KFContainer > p {
    margin-bottom: 0px;
}

.KFContainer .selected{
    border: 1px solid red;
}
/* tab related */

.KFTabSet {
    height: 100%;
    height: calc(100% - 50px);
}
.KFTabSet .ng-isolate-scope {
    height: 100%;
}
.KFTabSet .tab-content {
    overflow: auto;
    vertical-align: top;
    height: 100%;
    height: calc(100% - 19px);
}
.KFTabSet .tab-pane {
    height: 100%;
}
.nav > .KFTab > a {
    padding: 1px 10px;
    cursor: pointer;
}