<div class="col-md-12">
    <label>KF Contribution Search</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Search words here." ng-model="query">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
      </span>
    </p>

    <p style="text-align: right;">
        <button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Scaffold</button>
    </p>
    <div collapse="isCollapsed">
        <div class="well well-lg">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="from" is-open="fromOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openFrom($event)">From</button>
                    </span>
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="to" is-open="toOpened" datepicker-options="dateOptions" show-weeks="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openTo($event)">To</button>
                    </span>
                    <input type="text" ng-model="selectedAuthor" typeahead="author.email for author in communityMembers | filter:$viewValue | limitTo:8" class="form-control">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="addAuthor()">Add</button>
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div ng-if="contributions.length > 0">
        <style>
            .KFSearchResult{
                vertical-align: top;
            }
        </style>
        {{contributions.length}} contributions found.
        <table border='1'>
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Body</th>
            </tr>
            <tr class="KFSearchResult" ng-repeat="contribution in contributions" ng-if="contribution.type==='Note'">
                <td><a href="contribution/{{contribution._id}}">{{contribution.title}}</a></td>
                <!-- <td>{{post.getAuthorText()}}</td> -->
                <td>{{contribution.created}}</td>
                <td>
                    <div ng-bind-html="contribution.body" kf-notedoby></div>
                </td>
            </tr>
        </table>
    </div>
</div>