<div class="col-md-12">
    <label>KF Contribution Search</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="Search words here." ng-model="query">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="search()">Search</button>
      </span>
    </p>

    <p style="text-align: right;">
        <button class="btn btn-default" ng-click="status.detailCollapsed = !status.detailCollapsed">Advanced</button>
    </p>
    <div collapse="status.detailCollapsed">
        <div class="well well-lg">
            <div style="padding: 15px;">
                <label>Authors:</label>
                <div style="width: 400px;" ng-include="'components/kfutils/authorselector/authorselector.html'"></div>
            </div>

            <div style="height: 100px;">
                <div class="col-md-6">
                    <label>Dates:</label>
                    <br>
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="from" is-open="fromOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <button type="button" class="btn btn-primary kfbutton" ng-click="openFrom($event)">From</button>
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="to" is-open="toOpened" datepicker-options="dateOptions" show-weeks="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <button type="button" class="btn btn-primary kfbutton" ng-click="openTo($event)">To</button>
                </div>
            </div>
        </div>
    </div>

    <div ng-if="status.status === 'searching'">
        searching...
    </div>

    <div ng-if="status.status === 'noresult'">
        There were no contributions to match.
    </div>

    <div ng-if="status.status === 'searched'">
        <style>
        .KFSearchResult td,
        th {
            padding: 3px;
        }
        .KFSearchResult {
            vertical-align: top;
        }
        </style>
        {{contributions.length}} contributions found.
        <table border='1' style="width: 100%;">
            <tr>
                <th>Title</th>
                <th>Created</th>
                <th>Body</th>
            </tr>
            <tr class="KFSearchResult" ng-repeat="contribution in contributions" ng-if="contribution.type==='Note'">
                <td><a href="contribution/{{contribution._id}}">{{contribution.title}}</a>
                </td>
                <!-- <td>{{post.getAuthorText()}}</td> -->
                <td>{{getTimeString(contribution.created)}}</td>
                <td>
                    <div ng-bind-html="contribution.data.body" kf-notedoby></div>
                </td>
            </tr>
        </table>
    </div>
</div>