<div class="col-md-12">
    <link rel="stylesheet" type="text/css" href="/manual_assets/kfmce.css" />
    <label>{{ 'search' | translate }}</label>
    <p class="input-group">
        <input type="text" class="form-control" placeholder="{{ 'search_placeholder' | translate }}" ng-model="queryString">
        <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="search()">{{ 'search' | translate }}</button>
      </span>
    </p>
    <p style="text-align: right;">
        <button class="btn btn-default" ng-click="status.detailCollapsed = !status.detailCollapsed">{{ 'advanced' | translate }}</button>
    </p>
    <div collapse="status.detailCollapsed">
        <div class="well well-lg">
            <div style="padding: 15px;">
                <label>Search Views:</label>
                <button type="button" class="btn btn-primary kfbutton" ng-click="addSearchView()">On</button>
            </div>
            <div style="padding: 15px;">
                <label>Search My Private Notes:</label>
                <button type="button" class="btn btn-primary kfbutton" ng-click="addPrivateMode()">On</button>
            </div>
            <div style="padding: 15px;">
                <label>Views:</label>
                <ui-select ng-model="selected.views" theme="select2" multiple ng-disabled="disabled" style="width: 80%;">
                    <ui-select-match placeholder="Select view...">{{$item.title}}</ui-select-match>
                    <ui-select-choices repeat="view in views | filter: $select.search | orderBy:'title'| limitTo:80">
                        <div ng-bind-html="view.title | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
                <button type="button" class="btn btn-primary kfbutton" ng-click="addViews()">Add</button>
            </div>
            <div style="padding: 15px;">
                <label>{{ 'authors' | translate }}:</label>
                <div style="width: 400px;" ng-include="'components/kfutils/authorselector/authorselector.html'"></div>
            </div>
            <div style="height: 100px;">
                <div class="col-md-6">
                    <label>{{ 'dates' | translate }}:</label>
                    <br>
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="from" is-open="fromOpened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="{{ 'close' | translate }}" />
                    <button type="button" class="btn btn-primary kfbutton" ng-click="openFrom($event)">{{ 'from' | translate }}</button>
                    <input type="hidden" class="form-control" datepicker-popup="{{format}}" ng-model="to" is-open="toOpened" datepicker-options="dateOptions" show-weeks="false" date-disabled="disabled(date, mode)" ng-required="true" close-text="{{ 'close' | translate }}" />
                    <button type="button" class="btn btn-primary kfbutton" ng-click="openTo($event)">{{ 'to' | translate }}</button>
                </div>
            </div>
            <div style="height: 100px;">
                <div class="col-md-6">
                    <label>Pagesize:</label>
                    <br>
                    <input type="text" class="form-control" ng-model="pager.pagesize">
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="KFSearchResult">
        <div ng-if="status.status === 'searching'">
            searching...
        </div>
        <div ng-if="status.status === 'noresult'">
            There was no contributions to match.
        </div>
        <div ng-if="status.status === 'searched'">
            <div style="float: right;">
                <pagination total-items="pager.total" ng-model="pager.page" max-size="maxSize" items-per-page="pager.pagesize" class="pagination-sm" boundary-links="true" rotate="false" ng-change="pageChanged()"></pagination>
            </div>
            <div style="width: 100%; float: left; text-align: right;">
                CurrentPage: {{pager.page}} ({{pager.getStart()}} - {{pager.getEnd()}}) / Total: {{pager.total}} contributions were found.
                <br>
            </div>
            <div ng-if="status.loading === true">
            </div>
            <div ng-if="status.loading !== true">
                <table border='1' style="width: 100%;">
                    <tr>
                        <th style="width: 15%;">Title</th>
                        <th style="width: 15%;">Author(s)</th>
                        <th>Body
                            <button type="button" class="btn btn-default" ng-click="showScaffold()">show scaffold</button>
                        </th>
                        <th style="width: 15%;">Created</th>
                    </tr>
                    <tr class="KFSearchResult" ng-repeat="contribution in contributions" ng-if="contribution.type==='Note' || contribution.type==='View'">
                        <td>
                            <div kfelement draggable="true">
                                <span><img ng-src="{{getIcon(contribution)}}" draggable="false"></span>
                                <a class="KFSearchLink" href="contribution/{{contribution._id}}" target="_blank" draggable="false">{{contribution.title}}</a>
                            </div>
                        </td>
                        <td>{{makeAuthorString(contribution)}}</td>
                        <td>
                            <div ng-bind-html="contribution.data.body" kf-notedoby></div>
                        </td>
                        <td>{{getTimeString(contribution.created)}}</td>
                    </tr>
                </table>
                <div style="height: 20px;"></div>
            </div>
        </div>
    </div>
</div>
