.feedback_form{
	width:50%;
	margin-left:25%;
	margin-right:25%;
	text-align:center;
}

.feedback_tb{
	width:100%;
	border:1px solid gray;
}

.feedback_tb select{
	width:200px;
}

.feedback_tb label{
	margin:0px;
}

.feedback_tb input{
	width:500px;
}

.feedback_tb textarea{
	width:500px;
	margin-top:5px;
}

.feedback_tb tr{
	height:30px;
	line-height:20px;
}

.feedback_tb .td_label{
	text-align:right;
	width:15%;
}

.feedback_tb .td_content{
	text-align:left;
	width:85%;
	padding-left:10px;
}

.td_top{
	vertical-align:top;
}

.tr_200{
	height:200px;
}

.feedback_tb td_button{
	text-align:center;
}

.msg_area{
	margin-top:10px;
	text-align: center;
    color: red;
}